<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>用户协议-啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/passport.css">
</head>

<body>
    <div class="ui-page-wrap">
        <div id="J_global_header" class="m-header ui-fixed">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/logo_m.png" alt="啪啪购"></a>
                    </h1>
                </div>
                <div class="m-header-right">
                    <div class="m-header-info">
                        <ul class="m-header-info-list">
                            <li class="m-header-info-item">
                                <span class="tel item"><i class="iconfont">&#xe628;</i>400-888-4547</span>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">登录</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">注册</a>
                            </li>
                        </ul>
                    </div>
                    <div class="m-header-nav">
                        <ul class="m-header-nav-list">
                            <li class="m-header-nav-item"><a title="首页" href="">首页</a></li>
                            <li class="m-header-nav-item"><a title="货源" href="">货源</a></li>
                            <li class="m-header-nav-item"><a title="关于我们" href="">关于我们</a></li>
                            <li class="m-header-nav-item"><a title="帮助中心" href="">帮助中心</a></li>
                        </ul>
                    </div>
                    <div class="m-header-search">
                        <form action="" id="J_form_search">
                            <div class="m-header-search-inner">
                                <label for="J_search_kw" class="iconfont">&#xe62b;</label>
                                <input type="text" name="k" value="" placeholder="请输入关键词" class="m-header-search-input" id="J_search_kw">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-page-body">
            <div class="agree-wrap">
                <div class="ui-container">
                    <style>
                    .agree-main{width:800px;margin:0 auto;padding-bottom:100px;}.agree-main .h2{padding:50px 0 10px 0;margin-bottom:30px;font-size:22px;text-align:center;border-bottom:3px solid #ddd;}.section{padding-bottom:30px;}.section p{padding-bottom:10px;}.section h3{padding-bottom:5px;font-size:14px;font-weight:bold;}
                    </style>
                    <div class="agree-main">
                        <h2 class="h2">啪啪购服务协议</h2>
                        <div class="agree-content">
                            <div class="section">
                                <p>甲方：海淘城电子商务有限公司（以下简称：进口供应链服务平台（啪啪购））
                                    <br> 乙方：________________________________（以下简称：用户）
                                </p>
                            </div>
                            <div class="section">
                                <h3>一、总则</h3>
                                <p>递四方进口供应链服务平台（啪啪购）包括但不限于 www.papago.hk用户在使用递四方进口供应链服务平台（啪啪购）提供的各项服务之前，应仔细阅读本服务协议，如用户不同意本服务协议，可以主动取消递四方进口供应链服务平台（啪啪购）提供的服务；一旦使用递四方进口供应链服务平台（啪啪购）服务，并成为递四方进口供应链服务平台（啪啪购）用户，即视为用户已了解并完全同意本服务协议各项内容，包括递四方进口供应链服务平台（啪啪购）对服务协议随时所做的任何修改。</p>
                                <p>1、用户必须是具备完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不应注册为递四方进口供应链服务平台（啪啪购）用户或超过其民事权利或行为能力范围的，其与递四方进口供应链服务平台（啪啪购）之间的服务协议自始无效，一经发现，递四方进口供应链服务平台（啪啪购）有权立即注销该用户，并追究其使用递四方进口供应链服务平台（啪啪购）服务的一切法律责任。</p>
                                <p>2、用户应当同意本协议的条款并按照页面上的提示完成全部的注册程序。用户应在递四方进口供应链服务平台（啪啪购）上提交包括但不限于个人身份证及照片资料、公司营业执照、组织机构代码证、税务登记证等相关资料，并承诺对提交的资料的真实性，承担因提交虚假资料而产生的所有法律责任。用户在进行注册程序过程中勾选“同意接受递四方进口供应链商用户服务协议”即表示用户与递四方进口供应链服务平台（啪啪购）公司达成协议，完全接受本协议的全部条款。</p>
                                <p>3、用户注册成功后，递四方进口供应链服务平台（啪啪购）将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
                                <p>4、用户可以使用其授权范围内的递四方进口供应链服务平台（啪啪购）各个单项服务，当用户使用递四方进口供应链服务平台（啪啪购）各单项服务时，用户的使用行为视为其对该单项服务的服务条款以及递四方进口供应链服务平台（啪啪购）在该单项服务中发出的各类公告的同意。</p>
                                <p>5、递四方进口供应链服务平台（啪啪购）用户服务协议以及各单项服务条款和公告可由递四方进口供应链服务平台（啪啪购）公司随时更新，且无需另行通知。用户在使用相关服务时，应关注并遵守其所适用的相关条款。</p>
                            </div>
                            <div class="section">
                                <h3>二、注册信息和隐私保护</h3>
                                <p>1、用户应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽、准确的要求。所有原始键入的资料将引用为注册资料。如果因注册信息不真实而引起的问题，对问题发生所带来的后果，递四方进口供应链服务平台（啪啪购）将不负任何责任。</p>
                                <p>2、 用户不应将其帐号、密码转让或出借给他人使用。如用户发现其帐号遭他人非法使用，应立即通知递四方进口供应链服务平台（啪啪购）。由于用户自己对帐号的不安全操作或使用所造成的一切纠纷和后果，递四方进口供应链服务平台（啪啪购）不承担任何责任。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，递四方进口供应链服务平台（啪啪购）不承担任何责任。</p>
                                <p>3、 递四方进口供应链服务平台（啪啪购）不对外公开或向第三方提供单个用户的注册资料， 除非：
                                    <br> （ 1 ）事先获得用户的明确授权；
                                    <br> （ 2 ）只有透露用户的个人资料，才能提供用户所要求的商品和服务；
                                    <br> （ 3 ）根据有关的法律法规要求；
                                    <br> （ 4 ）按照相关政府主管部门的要求；
                                    <br> （ 5 ） 为维护递四方进口供应链服务平台（啪啪购）的合法权益。
                                    <br>
                                </p>
                                <p>4、在用户注册递四方进口供应链服务平台（啪啪购）帐户，使用其他递四方进口供应链服务平台（啪啪购）商品或服务，访问递四方进口供应链服务平台（啪啪购）网页 , 或参加促销和有奖游戏时，递四方进口供应链服务平台（啪啪购）会收集用户的个人身份识别资料，并会将这些资料用于改进为用户提供的服务及网页内容。</p>
                            </div>
                            <div class="section">
                                <h3>三、使用规则</h3>
                                <p>1、用户在使用递四方进口供应链服务平台（啪啪购）服务时，必须遵守中华人民共和国相关法律法规的规定，用户应同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶
                                    <br> 1) 上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：
                                    <br> a ） 反对宪法所确定的基本原则的；
                                    <br> b ） 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
                                    <br> c ） 损害国家荣誉和利益的；
                                    <br> d ） 煽动民族仇恨、民族歧视、破坏民族团结的；
                                    <br> e ） 破坏国家宗教政策，宣扬邪教和封建迷信的；
                                    <br> f ） 散布谣言，扰乱社会秩序，破坏社会稳定的；
                                    <br> g ） 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
                                    <br> h ） 侮辱或者诽谤他人，侵害他人合法权利的；
                                    <br> i ） 含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；
                                    <br> j ）含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；为任何非法目的而使用网络服务系统；
                                    <br> 2) 利用递四方进口供应链服务平台（啪啪购）服务从事以下活动：
                                    <br> a) 未经允许，进入计算机信息网络或者使用计算机信息网络资源；
                                    <br> b) 未经允许，对计算机信息网络功能进行删除、增加或者修改；
                                    <br> c) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、增加或者修改；
                                    <br> d) 故意制作、传播计算机病毒等破坏性程序；
                                    <br> e) 其它危害计算机信息网络安全的行为。
                                    <br>
                                </p>
                                <p>2、 如用户在使用网络服务时违反任何上述规定，递四方进口供应链服务平台（啪啪购）或其授权人/单位有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用网络服务的权利）以减轻和消除用户不当行为造成的影响。</p>
                                <p>3、 用户必须对自己在使用递四方进口供应链服务平台（啪啪购）服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在递四方进口供应链服务平台（啪啪购）公司首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应给予递四方进口供应链服务平台（啪啪购）公司等额的赔偿。</p>
                            </div>
                            <div class="section">
                                <h3>四、服务内容</h3>
                                <p>1、递四方进口供应链服务平台（啪啪购）服务以递四方进口供应链服务平台（啪啪购）目前所显示的所有服务及其说明为准。</p>
                                <p>2、 为使用本服务，用户必须能够自行合法地进入国际互联网，并应自行支付相关服务费用。此外，用户必须自行配备及负责与国际互联网连线所需之一切必要装备，包括计算机、通讯设备或其它存取装置。</p>
                                <p>3、 鉴于网络服务的特殊性，用户同意递四方进口供应链服务平台（啪啪购）有权不经事先通知，随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。递四方进口供应链服务平台（啪啪购）不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。</p>
                                <p>4、 递四方进口供应链服务平台（啪啪购）需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务（包括收费网络服务）在合理时间内的中断，递四方进口供应链服务平台（啪啪购）无需为此承担任何责任。递四方进口供应链服务平台（啪啪购）保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。</p>
                                <p>5、 本服务可提供与其它网站或资源之链接，由于递四方进口供应链服务平台（啪啪购）无法控制这些网站及资源，用户了解并同意，此类网站或资源是否可供利用，递四方进口供应链服务平台（啪啪购）不予负责，存在或源于此类网站或资源之任何内容、广告、商品或其它资料，递四方进口供应链服务平台（啪啪购）亦不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、商品或服务所产生的任何损害或损失，递四方进口供应链服务平台（啪啪购）不承担任何责任。</p>
                                <p>6、 用户明确同意其使用递四方进口供应链服务平台（啪啪购）服务所存在的风险将完全由其自己承担。用户理解并接受下载或通过递四方进口供应链服务平台（啪啪购）服务取得的任何信息资料取决于用户自己，并由其承担系统受损、资料丢失以及其它任何风险。递四方进口供应链服务平台（啪啪购）按每个商品1元的标准，收取信息资料费。新用户注册后可免费获得500个商品资料包，超出后按正常收费标准收费。</p>
                                <p>7、 超过 180 天未登陆的帐号，递四方进口供应链服务平台（啪啪购）保留注销的权利。</p>
                                <p>8、用户使用供应链服务平台（啪啪购）的供应链商品，需要事先向供应链服务平台（啪啪购）充值相应的费用（包括但不限于商品价值费用、物流费、操作费、包装费等）。用户在供应链服务平台（啪啪购）未使用完的金额，可以提出提现申请，经供应链服务平台（啪啪购）确认后转款至用户指定的银行账号。用户应注意保证自己账号的相关安全，凡使用供应链服务平台（啪啪购）所进行的相关操作，均视为用户自己的真实操作。</p>
                                <p>9、 递四方进口供应链服务平台（啪啪购）有权于任何时间暂时或永久修改或终止本服务（或其任何部分），而无论其通知与否，递四方进口供应链服务平台（啪啪购）对用户和任何第三人均无需承担任何责任。</p>
                                <p>10、终止服务：用户同意递四方进口供应链服务平台（啪啪购）可以基于自行考虑，无需进行事先通知，因任何理由包含但不限于长时间未使用或递四方进口供应链服务平台（啪啪购）认为用户已经违反本服务协议的文字及精神，终止用户的密码、帐号或本服务之使用（或服务之任何部分），并将用户在本服务内任何内容加以移除并删除。此外，用户同意若本服务之使用被中断或终止或用户的帐号及相关信息和文件被关闭或删除，递四方进口供应链服务平台（啪啪购）对用户或任何第三人均不承担任何责任。</p>
                            </div>
                            <div class="section">
                                <h3>五、预订规则</h3>
                                <p>1、 用户可选择通过支付100%商品价值费用，在递四方进口供应链服务平台（啪啪购）使用预订服务，成功预订的商品，专属于预订成功的供应链商，其他供应链商不能使用已经成功预订的商品库存。</p>
                                <p>2、 成功预订的商品，预订费是不能退还的，递四方进口供应链服务平台（啪啪购）保证在预订后的供货。不能供货的，将退还不能供货商品的预订费，并按商品价格的40%予以赔偿。</p>
                                <p>3、递四方进口供应链服务平台（啪啪购）对成功预订的商品，提供30天的免费仓储期。超过免费仓储期的，将按照平台公布费用向用户收取预订后未销售出的商品的仓储费。</p>
                                <p>4、免仓期结束后未销售完的商品，或由供应链商自提，也可协商并经递四方进口供应链服务平台（啪啪购）同意继续放置于仓库。当供应链商未销售完的商品的货值的80%不足以抵扣仓储费的，递四方进口供应链服务平台（啪啪购）可将商品寄给供应链商，供应链商不予收货的或不予自提的，视为供应链商同意由递四方进口供应链服务平台（啪啪购）自行处理该批商品。</p>
                                <p>5、 所有需要审核的预订，递四方进口供应链服务平台（啪啪购）会在48小时内予以审核，审核不通过或48小时内未确认的，预订商品无效。</p>
                            </div>
                            <div class="section">
                                <h3>六、递四方进口供应链服务平台（啪啪购）的物流和保险服务</h3>
                                <p>1、用户自行选择使用递四方进口供应链服务平台（啪啪购）上提供的物流方式和保险服务。物流费用和保险费用，由用户支付，递四方进口供应链服务平台（啪啪购）属于代收代付。注册供应链商使用递四方进口供应链服务平台（啪啪购）的服务，即认可递四方进口供应链服务平台（啪啪购）所提供的物流方式和保险服务。</p>
                                <p>2、递四方进口供应链服务平台（啪啪购）有权根据物流服务商的要求随时调整提供的物流方式和保险服务，递四方进口供应链服务平台（啪啪购）注册供应链商使用变更后的物流方式和保险服务即表示认可递四方进口供应链服务平台（啪啪购）所做的调整和变更。</p>
                                <p>3、递四方进口供应链服务平台（啪啪购）提供的物流方式和保险服务详细见供应链服务平台网站中的帮助中心的内容发布。</p>
                            </div>
                            <div class="section">
                                <h3>七、纠纷处理规则</h3>
                                <p><strong>（一）总则</strong>
                                    <br> 1.递四方进口供应链服务平台（啪啪购）作为一个网络交易平台，处理投诉的原则是公平，公正，公开。
                                    <br> 2. 提交递四方进口供应链服务平台（啪啪购）的投诉，递四方进口供应链服务平台（啪啪购）需要交易双方提供包括(但不限于)交易证明、支付证明、图片、双方沟通的文字记录、商品说明以及其他相关证据，交易双方任何一方采取拒不配合态度者，递四方进口供应链服务平台（啪啪购）将做出有利于交易另一方的仲裁。<br>
                                    <strong>（二）细则</strong><br> 
                                    对于违禁品及客户未申报、虚报、瞒报之货物一律不在理赔范围之内，供应链服务平台在物流过程中遗失或破损的商品按网站公布规则进行赔付，申请赔付需注意以下事项：
                                    <br> 1）赔偿申请自签收之日起7日内提出；
                                    <br> 2）客户需在签收之前，开箱验货，一旦签收视为对订单商品的认可（产品质量问题除外）；
                                    <br> 3）签收时包裹有明显破损的，可直接拒签（海外直邮的不能拒签），并联系啪啪购客服；
                                    <br> 4）开箱验货时，发现商品有遗漏、全部破损、部分破损的。需要提供证据（如快递员当场签字确认、或拍摄包含快递员的视频等），对于验货有问题的订单，客户可以直接选择拒签退回，或选择先行收货。收货后需在7日内联系啪啪购客服，并提交相关的证据材料；<br>
                                    <strong>（三）、免责条款</strong>
                                    <br> 1、易碎品：无论选择加固与否，都只参与遗失索赔，不参与破损索赔。
                                    <br> 2、危险品及违禁品不参加索赔（例：压缩气体、液化气体、易燃液体、酸碱性腐蚀品等国家禁运品）。
                                    <br> 3、货物的自然损耗、本质缺陷、特性以及市价上升跌落等所引起的损失或费用。
                                    <br> 4、货物在运输途中由于恶劣气候、雷电、海啸、地震、洪水自然灾害等自然灾害所造成的全部或部分损失。
                                    <br> 5、货物由于清关时效而导致的过保质期、过保修期等不可抗拒因素。
                                    <br> 6、因供应链商、收件人的过错造成托寄物丢失的。
                                    <br> 7、超出受理时限的索赔申请。（货物自签收之日起7天之后，或者货物入转运仓库后，超过60天未收到货物并且客户未提出索赔的）
                                    <br> 8、在外包装完好的情况下，不受理任何形式下的全损、部分破损理赔。（产品质量除外
                                    <br> 9、无理赔附件材料或理赔材料不齐全的理赔申请将被退回，等待供应链商补充资料之后。
                                    <br>
                                    <strong>（四）、货物签收注意事项</strong>
                                    <br> 1、在签收前先检查货物外包装是否完好，箱子封口是否完好，重量是否有明显差别。
                                    <br> 2、无论是否发现外包装有明显破损或者撕开过的痕迹，签收前都要在快递员面前验货，并在运单上做出备注再进行签收。
                                    <br> 3、发现货物破损、丢失等情况请准备好货物发票，实物照片等信息，通知我司客服人员安排后续赔偿工作。
                                    <br> 4、货物的正常签收标志着转运全程的终结，正常签收后货物出现的任何情况，我司将不承担责任。（商品质量问题除外）
                                    <br> 5、货物签收需当快递员的面签收，如发现少货，需拍照并有快递员签字证明少货商品，如没有快递员签字证明，少货一律不参与索赔。
                                    <br>
                                    <strong>（五）、索赔时效和流程</strong>
                                    <br> 1、用户需于货物签收之日起7日内提出索赔申请。
                                    <br> 2、索赔需准备好以下材料：商品购买凭证（订单号）、纸箱或其他包装材料、商品破损、质量问题等相关文字描述和图片等。
                                    <br> 3、理赔时间：用户需提供材料完整后，7日内我们会做出答复。用户货物签收7天之后，将不再接受任何理赔申请。
                                    <br> 4、客户下订单后超过60天，未收到货物并且客户未提出索赔的，不再参与索赔。
                                    <br>
                                    <strong>（六）、订单取消</strong>
                                    <br> 1、保税仓、香港仓：用户付款之前，可以取消订单（取消无需支付任何费用）。付款之后，订单则无法取消。
                                    <br> 2、海外仓：仓库发货之前，订单可以取消，但商品如需退回供应商的，客户需要承担商品退回海外供应商的当地物流费用，及相应的取消订单费用。
                                    <br>
                                    <strong>（七）、退换货服务</strong>
                                    <table style="border-collapse:collapse;width:800px;">
                                        <tbody>
                                            <tr>
                                                <td colspan="4" style="border:1px solid #666;" valign="center" width="597">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-weight:bold;font-size:12px;">递四方退货服务</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2" style="border:1px solid #666;background:#F2F2F2;" valign="center" width="58">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-weight:bold;font-size:12px;">仓库</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td colspan="2" style="border:1px solid #666;background:#F2F2F2;" valign="center" width="321">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-weight:bold;font-size:12px;">可以退货时间点</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td rowspan="2" style="border:1px solid #666;background:#F2F2F2;" valign="center" width="217">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-weight:bold;font-size:12px;">费用承担</span><span style="color:#333333;font-weight:bold;font-size:12px;"><br></span>
                                                        <span style="color:#333333;font-weight:bold;font-size:12px;">（非质量原因退货）</span>
                                                        <span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid #666;background:#F2F2F2;" valign="center" width="96">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-weight:bold;font-size:12px;">仓库发货前</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td style="border:1px solid #666;background:#F2F2F2;" valign="center" width="225">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-weight:bold;font-size:12px;">仓库发货后至签收后7日内</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid #666;" valign="center" width="58">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-weight:bold;font-size:12px;">保税仓</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td style="border:1px solid #666;" valign="center" width="96">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-size:12px;">-</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td style="border:1px solid #666;" valign="center" width="225">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-size:12px;">可以退货</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td style="border:1px solid #666;" valign="center" width="217">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-size:12px;">国内快递费和退货手续费</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid #666;" valign="center" width="58">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-weight:bold;font-size:12px;">香港仓</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td style="border:1px solid #666;" valign="center" width="96">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-size:12px;">-</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td style="border:1px solid #666;" valign="center" width="225">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-size:12px;">可以退货</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td style="border:1px solid #666;" valign="center" width="217">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-size:12px;">国内快递费和退货手续费</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid #666;" valign="center" width="58">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-weight:bold;font-size:12px;">海外仓</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td style="border:1px solid #666;" valign="center" width="96">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-size:12px;">可以退货</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td style="border:1px solid #666;" valign="center" width="225">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-size:12px;">可以退货</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                                <td style="border:1px solid #666;" valign="center" width="217">
                                                    <p style="text-align:center;">
                                                        <span style="color:#333333;font-size:12px;">国际快递费和退货手续费</span><span style="font-size:12px;"></span>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    递四方进口供应链服务平台（啪啪购）提供收到货物后的7天内退货服务，相关操作规则如下：<br>
                                    1、对于商家已发货的商品，在商品进入到海外仓之前，客户如要取消订单，则需自行承担产生的海外本土运费，大概10--20美金（实际的以退货运费金额为准）。<br>
                                    2、海淘的商品进入到海外仓、香港仓之后，及保税区发出货物后，至客户收到商品签收7日内的，客户需要退货，可向递四方售后客服提出退货申请。海外仓的退货需海外供应商同意后，提供退货地址信息，客户需自行寻找并使用国际物流公司，将货物邮寄给海外商家，并自行承担相应的国际运费（如商品在寄往海外商家过程中产生物品损毁，递四方不承担任何责任）。香港仓和保税仓的退货，递四方确认后提供国内退货地址，客户需自行寻找国内快递公司，将货物邮寄到递四方指定的国内地址。供应商如有特殊退货要求的，需按供应商的退货要求进行。<br>
                                    3、对于以上的退货需求，递四方都需要收取退货手续费。<br>
                                    4、经与递四方客服沟通确认的商品质量问题，退货的运费及手续费，均由递四方予以承担。相关的费用将退回客户的账户。<br>
                                    5、递四方进口供应链服务平台（啪啪购）暂不支持换货服务，如有需要可以重新购买。<br>
                                </p>
                            </div>
                            <div class="section">
                                <h3>八、知识产权和其他合法权益（包括但不限于名誉权、商誉权）</h3>
                                <p>递四方进口供应链服务平台（啪啪购）拥有递四方进口供应链服务平台（啪啪购）站内所有资料的版权。“递四方进口供应链服务平台（啪啪购）”、”papago”、“4PX”及相关图形等为递四方进口供应链服务平台（啪啪购）的注册商标。未经递四方进口供应链服务平台（啪啪购）许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，递四方进口供应链服务平台（啪啪购）将依法追究法律责任。</p>
                            </div>
                            <div class="section">
                                <h3>九、 其它</h3>
                                <p>1. 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。</p>
                                <p>2. 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向甲方所在地人民法院提起诉讼。</p>
                                <p>3. 递四方进口供应链服务平台（啪啪购）未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃。如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍有效并且有约束力</p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-footer">
            <div class="m-footer-inner ui-container">
                <p class="conc unline">
                    <span class="tel ui-right"><i class="iconfont">&#xe628;</i>400-888-4547</span>
                    <a class="mailto" href="mailto:seller@papago.hk"><i class="iconfont">&#xe606;</i>E-mail：seller@papago.hk</a>
                </p>
                <div class="desc unline fn-clear">
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>新手上路</dt>
                            <dd><a href="">新会员注册</a></dd>
                            <dd><a href="">选品刊登</a></dd>
                            <dd><a href="">下单支付</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>费用介绍</dt>
                            <dd><a href="">产品资料包</a></dd>
                            <dd><a href="">订单操作费</a></dd>
                            <dd><a href="">预定费及仓储费</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>物流配送</dt>
                            <dd><a href="">关税说明</a></dd>
                            <dd><a href="">验货签收</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>售后保障</dt>
                            <dd><a href="">退换货服务</a></dd>
                            <dd><a href="">售后赔付政策</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="menu unline">
                    <ul class="menu-list">
                        <li><a href="">关于我们</a></li>
                        <li><a href="">帮助中心</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">用户协议</a></li>
                        <li><a href="">友情链接</a></li>
                    </ul>
                </div>
                <p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
            </div>
        </div>
    </div>
    <script src="../dist/js/lib.js"></script>
</body>

</html>
