<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>注册-啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/passport.css">
</head>
<body>
    <div class="ui-page-wrap">
        <div id="J_global_header" class="m-header ui-fixed">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/logo_m.png" alt="啪啪购"></a>
                    </h1>
                </div>
                <div class="m-header-right">
                    <div class="m-header-info">
                        <ul class="m-header-info-list">
                            <li class="m-header-info-item">
                                <span class="tel item"><i class="iconfont">&#xe628;</i>400-888-4547</span>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">登录</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">注册</a>
                            </li>
                        </ul>
                    </div>
                    <div class="m-header-nav">
                        <ul class="m-header-nav-list">
                            <li class="m-header-nav-item"><a title="首页" href="">首页</a></li>
                            <li class="m-header-nav-item"><a title="货源" href="">货源</a></li>
                            <li class="m-header-nav-item"><a title="关于我们" href="">关于我们</a></li>
                            <li class="m-header-nav-item"><a title="帮助中心" href="">帮助中心</a></li>
                        </ul>
                    </div>
                    <div class="m-header-search">
                        <form action="" id="J_form_search">
                            <div class="m-header-search-inner">
                                <label for="J_search_kw" class="iconfont">&#xe62b;</label>
                                <input type="text" name="k" value="" placeholder="请输入关键词" class="m-header-search-input" id="J_search_kw">
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="ui-page-body">
            <div class="passport-wrap bindmob">
                <div class="ui-container">
                    <div class="passport-main">
                        <div class="register-form">
                            <form id="J_bmob_form" class="ui-form" action="">
                                <div class="register-form-row">
                                    <h3 class="title">绑定手机</h3>
                                    <div class="bmob-tips ui-tipbox ui-tipbox-question">
                                        <span class="ui-tipbox-icon"><i class="iconfont">&#xe634;</i></span>
                                        <div class="ui-tipbox-content">
                                            <h3 class="ui-tipbox-title">提示：</h3>
                                            <p class="bmob-form-desc">
                                                1、手机绑定为了方便完整信息通知，完全免费<br>
                                                2、啪啪购会对您的手机及其他个人信息严格保密<br>
                                                3、目前仅支持中国大陆地区的手机绑定
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bmob-body">
                                        <div class="ui-form-item">
                                            <label for="mobile_input" class="ui-label">手机号码：</label>
                                            <input type="text" class="ui-input" id="mobile_input" value="15889500330">
                                            <a id="J_reget" class="reget ui-button ui-button-lwhite" href="javascript:;">获取短信验证码</a>
                                            <span class="ui-form-explain"></span>
                                        </div>
                                        <div class="ui-form-item">
                                            <label class="ui-label">验证码：</label>
                                            <input type="text" class="ui-input" id="mobile_code">
                                            <span class="ui-form-explain"></span>
                                        </div>
                                        <div class="ui-form-item">
                                            <button id="J_submit" class="submit ui-button ui-button-lorange">确定</button>
                                            <a id="J_skip" class="skip" href="#">跳过此步骤</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="m-footer">
            <div class="m-footer-inner ui-container">
                <p class="conc unline">
                    <span class="tel ui-right"><i class="iconfont">&#xe628;</i>400-888-4547</span>
                    <a class="mailto" href="mailto:seller@papago.hk"><i class="iconfont">&#xe606;</i>E-mail：seller@papago.hk</a>
                </p>
                <div class="desc unline fn-clear">
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>新手上路</dt>
                            <dd><a href="">新会员注册</a></dd>
                            <dd><a href="">选品刊登</a></dd>
                            <dd><a href="">下单支付</a></dd>
                        </dl>                       
                    </div>
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>费用介绍</dt>
                            <dd><a href="">产品资料包</a></dd>
                            <dd><a href="">订单操作费</a></dd>
                            <dd><a href="">预定费及仓储费</a></dd>
                        </dl>                       
                    </div>
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>物流配送</dt>
                            <dd><a href="">关税说明</a></dd>
                            <dd><a href="">验货签收</a></dd>
                        </dl>                       
                    </div>
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>售后保障</dt>
                            <dd><a href="">退换货服务</a></dd>
                            <dd><a href="">售后赔付政策</a></dd>
                        </dl>                       
                    </div>
                </div>
                <div class="menu unline">
                    <ul class="menu-list">
                        <li><a href="">关于我们</a></li>
                        <li><a href="">帮助中心</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">用户协议</a></li>
                        <li><a href="">友情链接</a></li>
                    </ul>
                </div>
                <p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
            </div>
        </div>
    </div>
    <script src="../dist/js/lib.js"></script>
    <script src="../dist/js/bindmobile.js"></script>
</body>
</html>
