<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>售后赔付政策-啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/help.css">
</head>

<body>
    <div class="ui-page-wrap">
        <div id="J_global_header" class="m-header ui-fixed">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/logo_m.png" alt="啪啪购"></a>
                    </h1>
                </div>
                <div class="m-header-right">
                    <div class="m-header-info">
                        <ul class="m-header-info-list">
                            <li class="m-header-info-item">
                                您好，[<a href="">罗豪鑫</a>]
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">个人中心</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">退出</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">我要销售的商品</a>
                            </li>
                        </ul>
                    </div>
                    <div class="m-header-nav">
                        <ul class="m-header-nav-list">
                            <li class="m-header-nav-item"><a title="首页" href="">首页</a></li>
                            <li class="m-header-nav-item"><a title="货源" href="">货源</a></li>
                            <li class="m-header-nav-item"><a title="关于我们" href="">关于我们</a></li>
                            <li class="m-header-nav-item"><a title="帮助中心" href="">帮助中心</a></li>
                        </ul>
                    </div>
                    <div class="m-header-search">
                        <form action="" id="J_form_search">
                            <div class="m-header-search-inner">
                                <label for="J_search_kw" class="iconfont">&#xe62b;</label>
                                <input type="text" name="k" value="" placeholder="请输入关键词" class="m-header-search-input" id="J_search_kw">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-page-body">
            <div class="member-wrap">
                <div class="ui-container">
                    <div class="member-body fn-clear">
                        <div class="member-left">
                            <div class="member-sidenav">
                                <div class="member-sidenav-head member-head">
                                    <h3 class="member-head-title"><a href="">帮助中心</a></h3>
                                </div>
                                <div class="member-sidenav-body" id="J_member_sidenav">
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe605;</i>
                                                <a href="">新手帮助</a> 
                                                <span class="title-icon" data-role="trigger"></span>
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">下单支付</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">选品刊登</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">注册及登陆</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">关于啪啪购</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe609;</i>
                                                <a href="">物流配送</a> 
                                                <span class="title-icon" data-role="trigger"></span>
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">验货签收</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">关税说明</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe61e;</i>
                                                 <a href="">费用介绍</a> 
                                                <span class="title-icon" data-role="trigger"></span>
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">预订费及仓储费</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">订单操作费</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">充值及提现</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">产品资料包</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe635;</i>
                                                 <a href="">售后服务</a> 
                                                <span class="title-icon" data-role="trigger"></span>
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">退换货政策</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">售后赔付政策</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe624;</i>
                                                 <a href="">常见问题</a> 
                                                <span class="title-icon" data-role="trigger"></span>
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">注册篇</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">预定篇</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">投诉篇</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">订单篇</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">产品篇</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe60e;</i>
                                                 <a href="">公告</a> 
                                                <span class="title-icon" data-role="trigger"></span>
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe60f;</i>
                                                 <a href="">联系我们</a> 
                                                <span class="title-icon" data-role="trigger"></span>
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">联系我们</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-right">
                            <div class="member-main">
                                <div class="member-main-head member-head fn-clear">
                                    <div class="help-bread-nav">
                                        <ul class="help-bread-list">
                                            <li class="help-bread-list-item"><a href="">帮助中心</a></li>
                                            <li class="help-bread-list-item"><a href="">售后服务</a></li>
                                            <li class="help-bread-list-item"><a href="">售后赔付政策</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="member-main-inner">
                                    <div class="help-container">
                                        <div class="ui-box help-ui-box">
                                            <div class="ui-box-head help-ui-box-head">
                                                <h3 class="head-title">售后赔付政策</h3>
                                                <p>
                                                    <span class="head-text">创建时间：2015年02月11日</span>
                                                    <span class="head-text">浏览次数：【6676】</span>
                                                </p>
                                            </div>
                                            <div class="ui-box-container">
                                                <div class="ui-box-content help-after-sale-pay">
                                                    <div class="help-setion">
                                                        <p class="step-title">流程</p>
                                                        <ul>
                                                            <li>（一）提交纠纷：进入个人中心，点击我的订单/已发货，选择需要提交纠纷的订单，点击“我要投诉”，提交相关资料</li>
                                                            <li>（二）纠纷处理专业在2个工作日内回复初步处理结果，可在异常订单查询处查看客服处理意见</li>
                                                        </ul>
                                                    </div>
                                                    <div class="help-setion mid-setion">
                                                        <p class="step-title">需提交资料</p>
                                                        <ul>
                                                            <li>产品破损：商品破损图片、外包装图片、快递单图片（能看清快递单号）、破损证据（派送员签字证明破损）</li>
                                                            <li>少货：商品图片、外包装图片、快递单图片（能看清快递单号）、少货证明（派送员签字证明少货）、收到包裹在电子称上显示的实际重量图片</li>
                                                            <li>质量问题：产品质量问题证据（图片或者视频）</li>
                                                        </ul>
                                                    </div>
                                                    <div class="help-setion">
                                                        <p class="step-title">赔付细则</p>
                                                        <div class="inner-setion">
                                                            <p class="step">（一）总则</p>
                                                            <ul>
                                                                <li>1. 递四方进口供应链服务平台（啪啪购）作为一个网络交易平台，处理投诉的原则是公平，公正，公开。</li>
                                                                <li>2. 提交递四方进口供应链服务平台（啪啪购）的投诉，递四方进口供应链服务平台（啪啪购）需要交易双方提供包括(但不限于)交易证明、支付证明、图片、双方沟通的文字记录、商品说明以及其他相关证据，交易双方任何一方采取拒不配合态度者，递四方进口供应链服务平台（啪啪购）将做出有利于交易另一方的仲裁</li>
                                                            </ul>
                                                            <ul>
                                                                <li>（1）非因递四方进口供应链服务平台原因造成的拒签的（包括但不限于非质量问题的拒签），由合作方自行与客户沟通解决，递四方不承担相应责任，且需要扣除操作费，清关费，关税和运费。</li>
                                                                <li>（2）因递四方进口供应链服务平台原因造成的拒签（发错货、少货、破损或质量问题的拒签），由递四方承担相应责任。</li>
                                                            </ul>
                                                        </div>
                                                        <div class="inner-setion">
                                                            <p class="step">（二）细则</p>
                                                            <p class="step">对于违禁品及客户未申报、虚报、瞒报之货物一律不在理赔范围之内，供应链服务平台在物流过程中遗失或破损的商品按网站公布规则进行赔付，申请赔付需注意以下事项：</p>
                                                            <ul>
                                                                <li>1）赔偿申请自签收之日起7日内提出；</li>
                                                                <li>2）客户需在签收之前，开箱验货，一旦签收视为对订单商品的认可（产品质量问题除外）；</li>
                                                                <li>3）签收时包裹有明显破损的，可直接拒签（海外直邮的不能拒签），并联系啪啪购客服；</li>
                                                                <li>4）开箱验货时，发现商品有遗漏、全部破损、部分破损的。需要提供证据（如快递员当场签字确认、或拍摄包含快递员的视频等），对于验货有问题的订单，客户可以直接选择拒签退回，或选择先行收货。收货后需在7日内联系啪啪购客服，并提交相关的证据材料；</li>
                                                            </ul>
                                                        </div>
                                                        <div class="inner-setion">
                                                            <p class="step">（三）、免责条款</p>
                                                            <ul>
                                                                <li>1、易碎品：无论选择加固与否，都只参与遗失索赔，不参与破损索赔。</li>
                                                                <li>2、危险品及违禁品不参加索赔（例：压缩气体、液化气体、易燃液体、酸碱性腐蚀品等国家禁运品）。</li>
                                                                <li>3、货物的自然损耗、本质缺陷、特性以及市价上升跌落等所引起的损失或费用。</li>
                                                                <li>4、货物在运输途中由于恶劣气候、雷电、海啸、地震、洪水自然灾害等自然灾害所造成的全部或部分损失。</li>
                                                                <li>5、货物由于清关时效而导致的过保质期、过保修期等不可抗拒因素。</li>
                                                                <li>6、因供应链商、收件人的过错造成托寄物丢失的。</li>
                                                                <li>7、超出受理时限的索赔申请。（货物自签收之日起7天之后，或者货物入转运仓库后，超过60天未收到货物并且客户未提出索赔的）</li>
                                                                <li>8、在外包装完好的情况下，不受理任何形式下的全损、部分破损理赔。（产品质量除外）</li>
                                                                <li>9、无理赔附件材料或理赔材料不齐全的理赔申请将被退回，等待供应链商补充资料之后再受理。</li>
                                                            </ul>
                                                        </div>
                                                        <div class="inner-setion">
                                                            <p class="step">（四）、货物签收注意事项</p>
                                                            <ul>
                                                                <li>1、在签收前先检查货物外包装是否完好，箱子封口是否完好，重量是否有明显差别。</li>
                                                                <li>2、无论是否发现外包装有明显破损或者撕开过的痕迹，签收前都要在快递员面前验货，并在运单上做出备注再进行签收。</li>
                                                                <li>3、发现货物破损、丢失等情况请准备好货物发票，实物照片等信息，通知我司客服人员安排后续赔偿工作。</li>
                                                                <li>4、货物的正常签收标志着转运全程的终结，正常签收后货物出现的任何情况，我司将不承担责任。（商品质量问题除外）</li>
                                                                <li>5、货物签收需当快递员的面签收，如发现少货，需拍照并有快递员签字证明少货商品，如没有快递员签字证明，少货一律不参与索赔。</li>
                                                            </ul>
                                                        </div>
                                                        <div class="inner-setion">
                                                            <p class="step">（五）、索赔时效和流程</p>
                                                            <ul>
                                                                <li>1、用户需于货物签收之日起7日内提出索赔申请。</li>
                                                                <li>2、索赔需准备好以下材料：商品购买凭证（订单号）、纸箱或其他包装材料、商品破损、质量问题等相关文字描述和图片等。</li>
                                                                <li>3、理赔时间：用户需提供材料完整后，7日内我们会做出答复。用户货物签收7天之后，将不再接受任何理赔申请。</li>
                                                                <li>4、客户下订单后超过60天，未收到货物并且客户未提出索赔的，不再参与索赔。</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="help-setion">
                                                        <p class="warming">温馨提示：啪啪购退款先退还至客户啪啪购账号，可在账户明细查看退款明细，客户可用于下次下单使用，也可申请提现至指定银行卡</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-footer">
            <div class="m-footer-inner ui-container">
                <p class="conc unline">
                    <span class="tel ui-right"><i class="iconfont">&#xe628;</i>400-888-4547</span>
                    <a class="mailto" href="mailto:seller@papago.hk"><i class="iconfont">&#xe606;</i>E-mail：seller@papago.hk</a>
                </p>
                <div class="desc unline fn-clear">
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>新手上路</dt>
                            <dd><a href="">新会员注册</a></dd>
                            <dd><a href="">选品刊登</a></dd>
                            <dd><a href="">下单支付</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>费用介绍</dt>
                            <dd><a href="">产品资料包</a></dd>
                            <dd><a href="">订单操作费</a></dd>
                            <dd><a href="">预定费及仓储费</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>物流配送</dt>
                            <dd><a href="">关税说明</a></dd>
                            <dd><a href="">验货签收</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl class="desc-dl">
                            <dt>售后保障</dt>
                            <dd><a href="">退换货服务</a></dd>
                            <dd><a href="">售后赔付政策</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="menu unline">
                    <ul class="menu-list">
                        <li><a href="">关于我们</a></li>
                        <li><a href="">帮助中心</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">用户协议</a></li>
                        <li><a href="">友情链接</a></li>
                    </ul>
                </div>
                <p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
            </div>
        </div>
    </div>
    <script src="../dist/js/lib.js"></script>
    <script src="../dist/js/help.js"></script>
</body>

</html>
