<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/about.css">
</head>
<body>
    <div class="ui-page-wrap">
        <div id="J_global_header" class="m-header ui-fixed">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/logo_m.png" alt="啪啪购"></a>
                    </h1>
                </div>
                <div class="m-header-right">
                    <div class="m-header-info">
                        <ul class="m-header-info-list">
                            <li class="m-header-info-item">
                                <span class="tel item"><i class="iconfont">&#xe628;</i>400-888-4547</span>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">登录</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">注册</a>
                            </li>
                        </ul>
                    </div>
                    <div class="m-header-nav">
                        <ul class="m-header-nav-list">
                            <li class="m-header-nav-item"><a title="首页" href="">首页</a></li>
                            <li class="m-header-nav-item"><a title="货源" href="">货源</a></li>
                            <li class="m-header-nav-item"><a title="关于我们" href="">关于我们</a></li>
                            <li class="m-header-nav-item"><a title="帮助中心" href="">帮助中心</a></li>
                        </ul>
                    </div>
                    <div class="m-header-search">
                        <form action="" id="J_form_search">
                            <div class="m-header-search-inner">
                                <label for="J_search_kw" class="iconfont">&#xe62b;</label>
                                <input type="text" name="k" value="" placeholder="请输入关键词" class="m-header-search-input" id="J_search_kw">
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="ui-page-body">
	       <div class="home-banner banner-full">
                <div class="home-slider banner-full-inner ui-slide" id="J_home_slider">
                    <div class="ui-slide-content" id="J_home_slider_content">
                        <div class="ui-slide-panel">
                            <a href="">
                                <img class="lazy-img" src="../dist/images/blank.gif" data-src="../photos/Banner-home.jpg" alt="">
                            </a>
                        </div>
                        <div class="ui-slide-panel">
                            <a href="">
                                <img class="lazy-img" src="../dist/images/blank.gif" data-src="../photos/Banner-home-two.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>   
           </div>
           <div class="home-partner">
                <div class="ui-container">
                    <div class="home-partner-hd">
                       <h3 class="title">合作平台</h3>
                       <p class="desc">超过20个国内主流电商平台</p>
                    </div>
                    <div class="home-partner-bd">
                       <div class="home-partner-carousel ui-carousel" id="J_partner_carousel">
                           <span class="ui-carousel-prev-btn iconfont" data-role="prev" title="上一页">&#xe62c;</span>
                            <span class="ui-carousel-next-btn iconfont" data-role="next" title="下一页">&#xe632;</span>
                            <div class="scroller">
                                <ul class="ui-carousel-content" data-role="content">
                                    <li class="ui-carousel-panel">
                                        <img src="../dist/images/blank.gif" data-src="../photos/223X300_01.jpg" alt="麦乐购" title="麦乐购">    
                                    </li>
                                    <li class="ui-carousel-panel">
                                        <img src="../dist/images/blank.gif" data-src="../photos/223X300_02.jpg" alt="搜物" title="搜物">    
                                    </li>
                                    <li class="ui-carousel-panel">
                                        <img src="../dist/images/blank.gif" data-src="../photos/223X300_03.jpg" alt="口袋购物" title="口袋购物">    
                                    </li>
                                    <li class="ui-carousel-panel">
                                        <img src="../dist/images/blank.gif" data-src="../photos/223X300_04.jpg" alt="天猫" title="天猫">    
                                    </li>
                                    <li class="ui-carousel-panel">
                                        <img src="../dist/images/blank.gif" data-src="../photos/223X300_05.jpg" alt="苏宁" title="苏宁">   
                                    </li>
                                    <li class="ui-carousel-panel">
                                        <img src="../dist/images/blank.gif" data-src="../photos/223X300_06.jpg" alt="天虹" title="天虹">    
                                    </li>
                                    <li class="ui-carousel-panel">
                                        <img src="../dist/images/blank.gif" data-src="../photos/223X300_07.jpg" alt="七天优品" title="七天优品">
                                    </li>
                                    <li class="ui-carousel-panel">
                                        <img src="../dist/images/blank.gif" data-src="../photos/223X300_08.jpg" alt="妈妈帮" title="妈妈帮">
                                    </li>
                                </ul>
                            </div>
                       </div>
                       <div class="home-partner-static">
                           <ul class="home-partner-static-list">
                               <li><img class="lazy" src="../dist/images/blank.gif" data-src="http://www.papago.hk/images/jm/brand.jpg" alt="京东"></li>
                               <li><img class="lazy" src="../dist/images/blank.gif" data-src="../photos/LOGO02.jpg" alt="淘宝"></li>
                               <li><img class="lazy" src="../dist/images/blank.gif" data-src="../photos/LOGO05.jpg" alt="一号店"></li>
                               <li><img class="lazy" src="../dist/images/blank.gif" data-src="../photos/LOGO04.jpg" alt="维品会"></li>
                               <li><img class="lazy" src="../dist/images/blank.gif" data-src="../photos/LOGO03.jpg" alt="天猫"></li>
                           </ul>
                       </div>
                   </div>                    
                </div>
           </div>
           <div class="home-plus banner-full">
                <div class="banner-full-inner">
                    <img class="lazy" src="../dist/images/blank.gif" data-src="../photos/Banner-home-middle.jpg" alt="">    
                </div>
           </div>
           <div class="home-intro">
                <div class="intro-scroller">
                    <div class="ui-container">
                       <div class="ui-slide" id="J_intro_slide">
                            <div class="ui-slide-content fn-clear" id="J_intro_slider_content">
                                <div class="ui-slide-panel fn-clear">
                                    <div class="intro-photo">
                                        <img src="../dist/images/blank.gif" data-src="http://www.papago.hk/images/jm/1.jpg?v=1.18.0-SNAPSHOT" alt="注册">
                                    </div>
                                    <div class="intro-text">
                                        <p class="text">
                                            <strong>填写个人信息，啪啪购不仅提供商品信息<br>
                                            还可提供销售工具和技巧</strong>
                                        </p>
                                        <p class="text">
                                            前往账户<a href="">注册页面</a>填写个人注册信息<br>
                                            完成注册前往<a href="">帮助中心</a>了解平台教程咨询<br>
                                            如果您需要了解更多详细的内容还可以进行在线咨询或者线下留言
                                        </p>
                                    </div>
                                </div>
                                <div class="ui-slide-panel fn-clear">
                                    <div class="intro-photo">
                                        <img src="../dist/images/blank.gif" data-src="http://www.papago.hk/images/jm/2.jpg?v=1.18.0-SNAPSHOT" alt="注册">
                                    </div>
                                    <div class="intro-text">
                                        <p class="text">
                                            <strong>100万+优质进口商品供您选择<br>
                                            100%海外正品直邮</strong>
                                        </p>
                                        <p class="text">
                                            100+海外购物平台，1600+国际知名品牌，100万+全球优质产品<br>
                                            100%正品保障，海关严格商检
                                        </p>
                                    </div>
                                </div>
                                <div class="ui-slide-panel fn-clear">
                                    <div class="intro-photo">
                                        <img src="../dist/images/blank.gif" data-src="http://www.papago.hk/images/jm/3.jpg?v=1.18.0-SNAPSHOT" alt="刊登销售">
                                    </div>
                                    <div class="intro-text">
                                        <p class="text">
                                            <strong>与各大平台API对接<br>
                                            选品后一键刊登</strong>
                                        </p>
                                        <p class="text">
                                            多元化销售渠道选择<br>
                                            一键刊登到各大对接平台，超强功能，分销更省力
                                        </p>
                                    </div>
                                </div>
                                <div class="ui-slide-panel fn-clear">
                                    <div class="intro-photo">
                                        <img src="../dist/images/blank.gif" data-src="http://www.papago.hk/images/jm/4.jpg?v=1.18.0-SNAPSHOT" alt="同步订单">
                                    </div>
                                    <div class="intro-text">
                                        <p class="text">
                                            <strong>国内各大B2C平台订单一键整合导入<br>
                                            便捷化管理，事半功倍</strong>
                                        </p>
                                        <p class="text">
                                            各销售平台订单集中处理<br>
                                            订单动态实时跟踪<br>
                                            精准、及时完成订单配货、包装
                                        </p>
                                    </div>
                                </div>
                                <div class="ui-slide-panel fn-clear">
                                    <div class="intro-photo">
                                        <img src="../dist/images/blank.gif" data-src="http://www.papago.hk/images/jm/5.jpg?v=1.18.0-SNAPSHOT" alt="海外直发">
                                    </div>
                                    <div class="intro-text">
                                        <p class="text">
                                            <strong>海外仓库直发国内，快速报关清关<br>
                                            安全有保障</strong>
                                        </p>
                                        <p class="text">
                                            20+海外仓库，3+保税仓<br>
                                            国际物流跟踪号<br>
                                            海关正规报关和商检
                                        </p>
                                    </div>
                                </div>
                                <div class="ui-slide-panel fn-clear">
                                    <div class="intro-photo">
                                        <img src="../dist/images/blank.gif" data-src="http://www.papago.hk/images/jm/6.jpg?v=1.18.0-SNAPSHOT" alt="售后服务">
                                    </div>
                                    <div class="intro-text">
                                        <p class="text">
                                            <strong>5*8小时在线客服，解决售前咨询<br>
                                            售后服务</strong>
                                        </p>
                                        <p class="text">
                                            企业QQ、客服邮箱、客服热线等多种沟通方式<br>
                                            全天候、全方位助您解决难题
                                        </p>
                                    </div>
                                </div>
                            </div>
                       </div>
                       <ul class="intro_slider-nav" id="J_intro_slider_nav">
                                <li class="trigger">注册</li>
                                <li class="trigger">选品</li>
                                <li class="trigger">刊登销售</li>
                                <li class="trigger">同步订单</li>
                                <li class="trigger">海外直发</li>
                                <li class="trigger">售后服务</li>
                            </ul>
                   </div>    
                </div>
           </div>
           <div class="home-good">
               <div class="ui-container">
                    <dl class="home-good-list fn-clear">
                        <dt>啪啪购优势</dt>
                        <dd>
                            <img class="lazy" src="../dist/images/blank.gif" data-src="../photos/provider.jpg" alt="">
                            <h3>商品丰富</h3>
                            <p>100+海外购物平台，1600+国际知名品牌，100万+全球优质产品</p>
                        </dd>
                        <dd>
                            <img class="lazy" src="../dist/images/blank.gif" data-src="../photos/price.jpg" alt="">
                            <h3>零风险</h3>
                            <p>无需备货，先销售再下单，零成本、零库存、零风险</p>
                        </dd>
                        <dd>
                            <img class="lazy" src="../dist/images/blank.gif" data-src="../photos/QC.jpg" alt="">
                            <h3>正品保障</h3>
                            <p>绝对海外原装正品、海外仓库直发国内，100%正品保障</p>
                        </dd>
                        <dd>
                            <img class="lazy" src="../dist/images/blank.gif" data-src="../photos/order.jpg" alt="">
                            <h3>订单管理</h3>
                            <p>专业销售刊登工具，批量订单处理，轻松实现多渠道管理</p>
                        </dd>
                        <dd>
                            <img class="lazy" src="../dist/images/blank.gif" data-src="../photos/send.jpg" alt="">
                            <h3>物流派送</h3>
                            <p>完善的物流配送体系，海外仓拣货，质检、包装、配送一条龙服务</p>
                        </dd>
                        <dd>
                            <img class="lazy" src="../dist/images/blank.gif" data-src="../photos/service.jpg" alt="">
                            <h3>售后服务</h3>
                            <p>5*8小时服务，订单全程服务，咨询、赔付、物流、退货全程跟踪</p>
                        </dd>
                    </dl>
               </div>
           </div>
        </div>
        <div class="m-footer">
        	<div class="m-footer-inner ui-container">
        		<p class="conc unline">
        			<span class="tel ui-right"><i class="iconfont">&#xe628;</i>400-888-4547</span>
        			<a class="mailto" href="mailto:seller@papago.hk"><i class="iconfont">&#xe606;</i>E-mail：seller@papago.hk</a>
        		</p>
        		<div class="desc unline fn-clear">
        			<div class="col">
	        			<dl class="desc-dl">
	        				<dt>新手上路</dt>
	        				<dd><a href="">新会员注册</a></dd>
	        				<dd><a href="">选品刊登</a></dd>
	        				<dd><a href="">下单支付</a></dd>
	        			</dl>        				
        			</div>
        			<div class="col">
	        			<dl class="desc-dl">
	        				<dt>费用介绍</dt>
	        				<dd><a href="">产品资料包</a></dd>
	        				<dd><a href="">订单操作费</a></dd>
	        				<dd><a href="">预定费及仓储费</a></dd>
	        			</dl>        				
        			</div>
					<div class="col">
						<dl class="desc-dl">
	        				<dt>物流配送</dt>
	        				<dd><a href="">关税说明</a></dd>
	        				<dd><a href="">验货签收</a></dd>
	        			</dl>						
					</div>
					<div class="col">
	        			<dl class="desc-dl">
	        				<dt>售后保障</dt>
	        				<dd><a href="">退换货服务</a></dd>
	        				<dd><a href="">售后赔付政策</a></dd>
	        			</dl>						
					</div>
        		</div>
        		<div class="menu unline">
        			<ul class="menu-list">
        				<li><a href="">关于我们</a></li>
        				<li><a href="">帮助中心</a></li>
        				<li><a href="">联系我们</a></li>
        				<li><a href="">用户协议</a></li>
        				<li><a href="">友情链接</a></li>
        			</ul>
        		</div>
        		<p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
        	</div>
        </div>
    </div>
    <script src="../dist/js/lib.js"></script>
    <script src="../dist/js/home.js"></script>
</body>
</html>
