<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/source.css">
</head>
<body>
    <div class="ui-page-wrap">
        <div id="J_global_header" class="m-header ui-fixed">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/logo_m.png" alt="啪啪购"></a>
                    </h1>
                </div>
                <div class="m-header-right">
                    <div class="m-header-info">
                        <ul class="m-header-info-list">
                            <li class="m-header-info-item">
                                <span class="tel item"><i class="iconfont">&#xe628;</i>400-888-4547</span>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">登录</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">注册</a>
                            </li>
                        </ul>
                    </div>
                    <div class="m-header-nav">
                        <ul class="m-header-nav-list">
                            <li class="m-header-nav-item"><a title="首页" href="">首页</a></li>
                            <li class="m-header-nav-item"><a title="货源" href="">货源</a></li>
                            <li class="m-header-nav-item"><a title="关于我们" href="">关于我们</a></li>
                            <li class="m-header-nav-item"><a title="帮助中心" href="">帮助中心</a></li>
                        </ul>
                    </div>
                    <div class="m-header-search">
                        <form action="" id="J_form_search">
                            <div class="m-header-search-inner">
                                <label for="J_search_kw" class="iconfont">&#xe62b;</label>
                                <input type="text" name="k" value="" placeholder="请输入关键词" class="m-header-search-input" id="J_search_kw">
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="ui-page-body">
			<div class="index-media">
				<div class="ui-container fn-clear">
					<div class="index-category">
                        <div class="index-category-inner">
                            <div class="baby index-category-item">
                                <h3 class="title"><a href="" target="_blank" title="母婴用品">母婴用品</a></h3>
                                <p class="items">
                                    <a href="" target="_blank" title="奶粉辅食">奶粉辅食</a>
                                    <a href="" target="_blank" title="洗护日用">洗护日用</a>
                                    <a href="" target="_blank" title="哺喂日用">哺喂日用</a>
                                    <a href="" target="_blank" title="玩具">玩具</a>
                                </p>
                                <img class="icon" src="../photos/icon-ic.png">
                            </div>
                            <div class="nutrition even index-category-item">
                                <h3 class="title"><a href="" target="_blank" title="营养健康">营养健康</a></h3>
                                <p class="items">
                                    <a href="" target="_blank" title="魅力女人">魅力女人</a>
                                    <a href="" target="_blank" title="儿童成长">儿童成长</a>
                                    <a href="" target="_blank" title="关爱老人">关爱老人</a>
                                    <a href="" target="_blank" title="基础营养">基础营养</a>
                                    <a href="" target="_blank" title="食品茶饮">食品茶饮</a>
                                </p>
                                <img class="icon" src="../photos/icon-ic.png">
                            </div>
                            <div class="cosmetics index-category-item">
                                <h3 class="title"><a href="" target="_blank" title="彩妆护肤">彩妆护肤</a></h3>
                                <p class="items">
                                    <a href="" target="_blank" title="面部护肤">面部护肤</a>
                                    <a href="" target="_blank" title="彩妆">彩妆</a>
                                    <a href="" target="_blank" title="身体护理">身体护理</a>
                                    <a href="" target="_blank" title="美容工具">美容工具</a>
                                    <a href="" target="_blank" title="个人护理">个人护理</a>
                                </p>
                                <img class="icon" src="../photos/icon-ic.png">
                            </div>
                            <div class="ornament even index-category-item">
                                <h3 class="title"><a href="" target="_blank" title="手表饰品">手表饰品</a></h3>
                                <p class="items"></p>
                                <img class="icon" src="../photos/icon-ic.png">
                            </div>
                            <div class="digital index-category-item">
                                <h3 class="title"><a href="" target="_blank" title="数码家居">数码家居</a></h3>
                                <p class="items"></p>
                                <img class="icon" src="../photos/icon-ic.png">
                            </div>                            
                        </div>

                    </div>
					<div class="index-banner">
						<div class="index-slider ui-slide" id="J_index_slider">
							<div class="ui-slide-content" id="J_index_slider_content">
								<div class="ui-slide-panel">
                                    <a class="lazy" href="#">
                                        <img src="../dist/images/placeholder.png" data-src="http://www.papago.hk/op-images/home_banner_fc.jpg" alt="">
                                    </a>
                                </div>
                                <div class="ui-slide-panel">
                                    <a class="lazy" href="#">
                                        <img src="../dist/images/placeholder.png" data-src="http://www.papago.hk/op-images/source_banner/20160304/home_banner_01.jpg" alt="">
                                    </a>
                                </div>
                                <div class="ui-slide-panel">
                                    <a class="lazy" href="#">
                                        <img src="../dist/images/placeholder.png" data-src="http://www.papago.hk/op-images/source_banner/20160304/home_banner_02.jpg" alt="">
                                    </a>
                                </div>
                                <div class="ui-slide-panel">
                                    <a class="lazy" href="#">
                                        <img src="../dist/images/placeholder.png" data-src="http://www.papago.hk/op-images/source_banner/20160304/home_banner_03.jpg" alt="">
                                    </a>
                                </div>
                                <div class="ui-slide-panel">
                                    <a class="lazy" href="#">
                                        <img src="../dist/images/placeholder.png" data-src="http://www.papago.hk/op-images/source_banner/20160304/home_banner_04.jpg" alt="">
                                    </a>
                                </div>
							</div>
						</div>
						<div class="index-notice">
                            <a class="ui-more fn-right" href="">更多</a>
                            <div class="index-notice-slider" id="J_index_notice">
                                <ul class="ui-slide-content" id="J_index_notice_scroller">
                                    <li class="ui-slide-panel"><a href="">关于杭州保税仓订单延误通知</a></li>
                                    <li class="ui-slide-panel"><a href="">订单延误公告</a></li>
                                    <li class="ui-slide-panel"><a href="">2016年春节放假及发货安排通知</a></li>
                                    <li class="ui-slide-panel"><a href="">圣诞及元旦订单延迟通知</a></li>
                                    <li class="ui-slide-panel"><a href="">黑五物流延迟通知</a></li>
                                    <li class="ui-slide-panel"><a href="">关于中秋节、国庆节放假的通知</a></li>
                                    <li class="ui-slide-panel"><a href="">双11发货延迟通知</a></li>
                                    <li class="ui-slide-panel"><a href="">关于保税区发货时效的通知</a></li>
                                </ul>
                            </div>                 
                        </div>
					</div>
				</div>
			</div>
            <div class="index-hot">
                <div class="ui-container fn-clear">
                    <div class="index-brank index-gallery">
                        <div class="index-gallery-hd">
                            <h3 class="title-main">热销品牌</h3>
                            <small class="title-small">HOT BRANDS</small>
                        </div>
                        <div class="index-gallery-bd">
                            <ul class="index-gallery-list">
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                                <li class="index-gallery-item">
                                    <a title="品牌名" href="">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/brand/brand_aptamil.jpg" alt="品牌名">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="index-hot-right fn-right">
                        <div class="index-star index-gallery">
                            <div class="index-gallery-hd">
                                <h3 class="title-main">明星产品</h3>
                                <small class="title-small">STAR PRODUCTS</small>
                                <div class="menu fn-right">
                                    <div class="ui-navmini">
                                        <ul>
                                            <li><a href="">美国GNC</a></li>
                                            <li><a href="">倩碧/Clinique</a></li>
                                            <li><a href="">兰蔻/Lancome</a></li>
                                            <li><a href="">美国nature made</a></li>
                                        </ul>
                                    </div>
                                    <a class="ui-more" href="" target="_blank">更多</a>
                                </div>
                            </div>
                            <div class="index-gallery-bd">
                                <ul class="index-gallery-list">
                                    <li class="index-gallery-item border">
                                        <div class="m-goods">
                                            <div class="m-goods-thumb">
                                                <a class="m-goods-thumb-img" href="" target="_blank">
                                                    <img class="lazy" src="../dist/images/placeholder.png" data-lazy="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=463386885,4074226219&fm=80" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                                </a>
                                            </div>
                                            <div class="m-goods-info">
                                                <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                                <p class="m-goods-price">
                                                    <span class="ui-text-pale">采购价：</span>
                                                    <em class="m-goods-price-text">
                                                        <small class="fn-rmb">￥</small>98.00
                                                    </em>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="index-gallery-item border">
                                        <div class="m-goods">
                                            <div class="m-goods-thumb">
                                                <a class="m-goods-thumb-img" href="" target="_blank">
                                                    <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                                </a>
                                            </div>
                                            <div class="m-goods-info">
                                                <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                                <p class="m-goods-price">
                                                    <span class="ui-text-pale">采购价：</span>
                                                    <em class="m-goods-price-text">
                                                        <small class="fn-rmb">￥</small>98.00
                                                    </em>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="index-gallery-item push">
                                        <a href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/source_banner/20160304/star_banner_01.jpg" alt="">
                                        </a>
                                    </li>
                                    <li class="index-gallery-item border">
                                        <div class="m-goods">
                                            <div class="m-goods-thumb">
                                                <a class="m-goods-thumb-img" href="" target="_blank">
                                                    <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                                </a>
                                            </div>
                                            <div class="m-goods-info">
                                                <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                                <p class="m-goods-price">
                                                    <span class="ui-text-pale">采购价：</span>
                                                    <em class="m-goods-price-text">
                                                        <small class="fn-rmb">￥</small>98.00
                                                    </em>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="index-gallery-item border">
                                        <div class="m-goods">
                                            <div class="m-goods-thumb">
                                                <a class="m-goods-thumb-img" href="" target="_blank">
                                                    <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                                </a>
                                            </div>
                                            <div class="m-goods-info">
                                                <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                                <p class="m-goods-price">
                                                    <span class="ui-text-pale">采购价：</span>
                                                    <em class="m-goods-price-text">
                                                        <small class="fn-rmb">￥</small>98.00
                                                    </em>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="index-star index-gallery">
                            <div class="index-gallery-hd">
                                <h3 class="title-main">新品上架</h3>
                                <small class="title-small">NEW ARRIVALS</small>
                                <div class="menu fn-right">
                                    <div class="ui-navmini">
                                        <ul>
                                            <li><a href="">美国GNC</a></li>
                                            <li><a href="">倩碧/Clinique</a></li>
                                            <li><a href="">兰蔻/Lancome</a></li>
                                            <li><a href="">美国nature made</a></li>
                                        </ul>
                                    </div>
                                    <a class="ui-more" href="" target="_blank">更多</a>
                                </div>
                            </div>
                            <div class="index-gallery-bd">
                                <ul class="index-gallery-list">
                                    <li class="index-gallery-item border">
                                        <div class="m-goods">
                                            <div class="m-goods-thumb">
                                                <a class="m-goods-thumb-img" href="" target="_blank">
                                                    <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                                </a>
                                            </div>
                                            <div class="m-goods-info">
                                                <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                                <p class="m-goods-price">
                                                    <span class="ui-text-pale">采购价：</span>
                                                    <em class="m-goods-price-text">
                                                        <small class="fn-rmb">￥</small>98.00
                                                    </em>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="index-gallery-item border">
                                        <div class="m-goods">
                                            <div class="m-goods-thumb">
                                                <a class="m-goods-thumb-img" href="" target="_blank">
                                                    <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                                </a>
                                            </div>
                                            <div class="m-goods-info">
                                                <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                                <p class="m-goods-price">
                                                    <span class="ui-text-pale">采购价：</span>
                                                    <em class="m-goods-price-text">
                                                        <small class="fn-rmb">￥</small>98.00
                                                    </em>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="index-gallery-item push">
                                        <a href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/source_banner/20160304/star_banner_01.jpg" alt="">
                                        </a>
                                    </li>
                                    <li class="index-gallery-item border">
                                        <div class="m-goods">
                                            <div class="m-goods-thumb">
                                                <a class="m-goods-thumb-img" href="" target="_blank">
                                                    <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                                </a>
                                            </div>
                                            <div class="m-goods-info">
                                                <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                                <p class="m-goods-price">
                                                    <span class="ui-text-pale">采购价：</span>
                                                    <em class="m-goods-price-text">
                                                        <small class="fn-rmb">￥</small>98.00
                                                    </em>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="index-gallery-item border">
                                        <div class="m-goods">
                                            <div class="m-goods-thumb">
                                                <a class="m-goods-thumb-img" href="" target="_blank">
                                                    <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                                </a>
                                            </div>
                                            <div class="m-goods-info">
                                                <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                                <p class="m-goods-price">
                                                    <span class="ui-text-pale">采购价：</span>
                                                    <em class="m-goods-price-text">
                                                        <small class="fn-rmb">￥</small>98.00
                                                    </em>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="index-banner-full ui-container ui-mt20">
                <a href="" target="_blank">
                    <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/source_banner/20160304/middle_banner.jpg" alt="">
                </a>
            </div>
            <div class="index-recom">
                <div class="ui-container">
                    <div class="index-recom-week index-gallery">
                        <div class="index-gallery-hd">
                            <h3 class="title-main">本周推荐</h3>
                            <small class="title-small">RECOMMEND THIS WEEK</small>
                            <div class="menu fn-right">
                                <div class="ui-navmini">
                                    <ul>
                                        <li><a href="">美国GNC</a></li>
                                        <li><a href="">倩碧/Clinique</a></li>
                                        <li><a href="">兰蔻/Lancome</a></li>
                                        <li><a href="">美国nature made</a></li>
                                    </ul>
                                </div>
                                <a class="ui-more" href="" target="_blank">更多</a>
                            </div>
                        </div>
                        <div class="index-gallery-bd">
                            <ul class="index-gallery-list">
                                <li class="index-gallery-item h2 push">
                                    <a href="" target="_blank">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/source_banner/20160304/left_banner_01.jpg" alt="">
                                    </a>
                                    <a href="" target="_blank">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/source_banner/20160304/left_banner_02.jpg" alt="">
                                    </a>
                                </li>
                                <li class="index-gallery-item border">
                                    <div class="m-goods">
                                        <div class="m-goods-thumb">
                                            <a class="m-goods-thumb-img" href="" target="_blank">
                                                <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                            </a>
                                        </div>
                                        <div class="m-goods-info">
                                            <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                            <p class="m-goods-price">
                                                <span class="ui-text-pale">采购价：</span>
                                                <em class="m-goods-price-text">
                                                    <small class="fn-rmb">￥</small>98.00
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="index-gallery-item w2 push">
                                    <a href="" target="_blank">
                                        <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/source_banner/20160304/recommend_banner.jpg" alt="">
                                    </a>
                                </li>
                                <li class="index-gallery-item border">
                                    <div class="m-goods">
                                        <div class="m-goods-thumb">
                                            <a class="m-goods-thumb-img" href="" target="_blank">
                                                <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                            </a>
                                        </div>
                                        <div class="m-goods-info">
                                            <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                            <p class="m-goods-price">
                                                <span class="ui-text-pale">采购价：</span>
                                                <em class="m-goods-price-text">
                                                    <small class="fn-rmb">￥</small>98.00
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="index-gallery-item border">
                                    <div class="m-goods">
                                        <div class="m-goods-thumb">
                                            <a class="m-goods-thumb-img" href="" target="_blank">
                                                <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                            </a>
                                        </div>
                                        <div class="m-goods-info">
                                            <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                            <p class="m-goods-price">
                                                <span class="ui-text-pale">采购价：</span>
                                                <em class="m-goods-price-text">
                                                    <small class="fn-rmb">￥</small>98.00
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="index-gallery-item border">
                                    <div class="m-goods">
                                        <div class="m-goods-thumb">
                                            <a class="m-goods-thumb-img" href="" target="_blank">
                                                <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                            </a>
                                        </div>
                                        <div class="m-goods-info">
                                            <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                            <p class="m-goods-price">
                                                <span class="ui-text-pale">采购价：</span>
                                                <em class="m-goods-price-text">
                                                    <small class="fn-rmb">￥</small>98.00
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="index-gallery-item border">
                                    <div class="m-goods">
                                        <div class="m-goods-thumb">
                                            <a class="m-goods-thumb-img" href="" target="_blank">
                                                <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                            </a>
                                        </div>
                                        <div class="m-goods-info">
                                            <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                            <p class="m-goods-price">
                                                <span class="ui-text-pale">采购价：</span>
                                                <em class="m-goods-price-text">
                                                    <small class="fn-rmb">￥</small>98.00
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="index-gallery-item border">
                                    <div class="m-goods">
                                        <div class="m-goods-thumb">
                                            <a class="m-goods-thumb-img" href="" target="_blank">
                                                <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                            </a>
                                        </div>
                                        <div class="m-goods-info">
                                            <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                            <p class="m-goods-price">
                                                <span class="ui-text-pale">采购价：</span>
                                                <em class="m-goods-price-text">
                                                    <small class="fn-rmb">￥</small>98.00
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="index-gallery-item border">
                                    <div class="m-goods">
                                        <div class="m-goods-thumb">
                                            <a class="m-goods-thumb-img" href="" target="_blank">
                                                <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                            </a>
                                        </div>
                                        <div class="m-goods-info">
                                            <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                            <p class="m-goods-price">
                                                <span class="ui-text-pale">采购价：</span>
                                                <em class="m-goods-price-text">
                                                    <small class="fn-rmb">￥</small>98.00
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="index-gallery-item border">
                                    <div class="m-goods">
                                        <div class="m-goods-thumb">
                                            <a class="m-goods-thumb-img" href="" target="_blank">
                                                <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                            </a>
                                        </div>
                                        <div class="m-goods-info">
                                            <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                            <p class="m-goods-price">
                                                <span class="ui-text-pale">采购价：</span>
                                                <em class="m-goods-price-text">
                                                    <small class="fn-rmb">￥</small>98.00
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-footer-banner ui-mt20">
                <div class="ui-container">
                    <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/images/saleSource/sale4.jpg?v=1.18.0-SNAPSHOT" alt="">
                </div>
            </div>  
        </div>
        <div class="m-footer">
        	<div class="m-footer-inner ui-container">
        		<p class="conc unline">
        			<span class="tel ui-right"><i class="iconfont">&#xe628;</i>400-888-4547</span>
        			<a class="mailto" href="mailto:seller@papago.hk"><i class="iconfont">&#xe606;</i>E-mail：seller@papago.hk</a>
        		</p>
        		<div class="desc unline fn-clear">
        			<div class="col">
	        			<dl class="desc-dl">
	        				<dt>新手上路</dt>
	        				<dd><a href="">新会员注册</a></dd>
	        				<dd><a href="">选品刊登</a></dd>
	        				<dd><a href="">下单支付</a></dd>
	        			</dl>        				
        			</div>
        			<div class="col">
	        			<dl class="desc-dl">
	        				<dt>费用介绍</dt>
	        				<dd><a href="">产品资料包</a></dd>
	        				<dd><a href="">订单操作费</a></dd>
	        				<dd><a href="">预定费及仓储费</a></dd>
	        			</dl>        				
        			</div>
					<div class="col">
						<dl class="desc-dl">
	        				<dt>物流配送</dt>
	        				<dd><a href="">关税说明</a></dd>
	        				<dd><a href="">验货签收</a></dd>
	        			</dl>						
					</div>
					<div class="col">
	        			<dl class="desc-dl">
	        				<dt>售后保障</dt>
	        				<dd><a href="">退换货服务</a></dd>
	        				<dd><a href="">售后赔付政策</a></dd>
	        			</dl>						
					</div>
        		</div>
        		<div class="menu unline">
        			<ul class="menu-list">
        				<li><a href="">关于我们</a></li>
        				<li><a href="">帮助中心</a></li>
        				<li><a href="">联系我们</a></li>
        				<li><a href="">用户协议</a></li>
        				<li><a href="">友情链接</a></li>
        			</ul>
        		</div>
        		<p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
        	</div>
        </div>
    </div>
    <script src="../dist/js/lib.js"></script>
    <script src="../dist/js/index.js"></script>
</body>
</html>
