<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/source.css">
</head>
<body>
    <div class="ui-page-wrap">
        <div id="J_global_header" class="m-header ui-fixed">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/logo_m.png" alt="啪啪购"></a>
                    </h1>
                </div>
                <div class="m-header-right">
                    <div class="m-header-info">
                        <ul class="m-header-info-list">
                            <li class="m-header-info-item">
                                <span class="tel item"><i class="iconfont">&#xe628;</i>400-888-4547</span>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">登录</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">注册</a>
                            </li>
                        </ul>
                    </div>
                    <div class="m-header-nav">
                        <ul class="m-header-nav-list">
                            <li class="m-header-nav-item"><a title="首页" href="">首页</a></li>
                            <li class="m-header-nav-item"><a title="货源" href="">货源</a></li>
                            <li class="m-header-nav-item"><a title="关于我们" href="">关于我们</a></li>
                            <li class="m-header-nav-item"><a title="帮助中心" href="">帮助中心</a></li>
                        </ul>
                    </div>
                    <div class="m-header-search">
                        <form action="" id="J_form_search">
                            <div class="m-header-search-inner">
                                <label for="J_search_kw" class="iconfont">&#xe62b;</label>
                                <input type="text" name="k" value="" placeholder="请输入关键词" class="m-header-search-input" id="J_search_kw">
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="ui-page-body">
            <div class="prod-crumbs ui-container">
                <span class="fn-right">共<em class="ui-text-dark">538</em>件商品</span>
                <div class="ui-navmini-arr ui-navmini" id="J_crumbs_slide">
                    <span class="prev crumbs-slide-page iconfont">&#xe62c;</span>
                    <span class="next crumbs-slide-page iconfont">&#xe632;</span>
                    <ul class="ui-navmini-list">
                        <li><a href="#">首页</a></li>
                        <li class="crumbs-tag">
                            <a href="#" title="运动鞋">运动鞋</a><i class="icon"></i>
                            <div class="dropbox">
                                <ul class="dropbox-list">
                                    <li><a class="active" href="javascript:;" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="crumbs-tag">
                            <a href="#" title="运动鞋">运动鞋</a><i class="icon"></i>
                            <div class="dropbox">
                                <ul class="dropbox-list">
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                    <li><a href="#" title="篮球鞋">篮球鞋</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="crumbs-attr">
                            <a href="#">性别:男子</a>
                            <a href="#" class="iconfont">&#xe629;</a>
                        </li>
                        <li class="crumbs-attr">
                            <a href="#">功能:速干</a>
                            <a href="#" class="iconfont">&#xe629;</a>
                        </li>
                        <li class="crumbs-attr">
                            <a href="#">性别:男子</a>
                            <a href="#" class="iconfont">&#xe629;</a>
                        </li>
                                                <li class="crumbs-attr">
                            <a href="#">功能:速干</a>
                            <a href="#" class="iconfont">&#xe629;</a>
                        </li>
                        <li class="crumbs-attr">
                            <a href="#">性别:男子</a>
                            <a href="#" class="iconfont">&#xe629;</a>
                        </li>
                                                <li class="crumbs-attr">
                            <a href="#">功能:速干</a>
                            <a href="#" class="iconfont">&#xe629;</a>
                        </li>
                        <li class="crumbs-attr">
                            <a href="#">性别:男子</a>
                            <a href="#" class="iconfont">&#xe629;</a>
                        </li>
                        <li>
                            <div class="crumbs-search">
                                <form action="">
                                    <input type="text" class="ui-input" id="J_crumbs_search" value="鞋子">
                                    <button class="submit iconfont">&#xe62b;</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="prod-selector ui-container" id="J_prod_selector">
                <dl class="ui-dl-horizontal">
                    <dt class="label">仓库/平台：</dt>
                    <dd class="value">
                        <ul class="prod-selector-list fix">
                            <li class="prod-selector-item">
                                <a href="" title="韩国仓SR001">韩国仓SR001</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="保税区BH05">保税区BH05</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="澳洲直邮YQ004">澳洲直邮YQ004</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="保税区CXD04">保税区CXD04</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="杭州保税区CXD08">杭州保税区CXD08</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="杭州保税区CXD09">杭州保税区CXD09</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="韩国仓SR001">韩国仓SR001</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="保税区BH05">保税区BH05</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="澳洲直邮YQ004">澳洲直邮YQ004</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="保税区CXD04">保税区CXD04</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="杭州保税区CXD08">杭州保税区CXD08</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="杭州保税区CXD09">杭州保税区CXD09</a>
                            </li>                                    
                        </ul>
                        <div class="prod-selector-ext">
                            <a class="ext-multiple" href="javascript:;">多选</a>
                            <a class="ext-more" href="javascript:;">更多</a>
                        </div>
                        <p class="prod-selector-btns fn-hide">
                            <a id="J_selector_ok" class="ui-button-sblue ui-button" href="javascript:;">确定</a>
                            <a id="J_selector_cancel" class="ui-button-swhite ui-button" href="javascript:;">取消</a>    
                        </p>
                    </dd>
                </dl>
                <dl class="ui-dl-horizontal">
                    <dt class="label">品牌：</dt>
                    <dd class="value">
                        <ul class="prod-selector-list fix">
                            <li class="prod-selector-item">
                                <a href="" title="a2">a2</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="艾拉的厨房">艾拉的厨房</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="爱他美">爱他美</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="Aptamil">Aptamil</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="Baby Bjorn">Baby Bjorn</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="百洛护肤油 Bio-Oil">百洛护肤油 Bio-Oil</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="布朗博士">布朗博士</a>
                            </li>                                   
                        </ul>
                        <div class="prod-selector-ext">
                            <a class="ext-more" href="javascript:;">更多</a>
                        </div>
                    </dd>
                </dl>
                <dl class="ui-dl-horizontal">
                    <dt class="label">类别：</dt>
                    <dd class="value">
                        <ul class="prod-selector-list auto">
                            <li class="prod-selector-item">
                                <a href="" title="奶粉">奶粉</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="饼干/磨牙棒">饼干/磨牙棒</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="泡芙/溶豆">泡芙/溶豆</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="米粉粥">米粉粥</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="维生素">维生素</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="DHA鱼肝油">DHA鱼肝油</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="钙/镁/锌/铁">钙/镁/锌/铁</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="益生菌">益生菌</a>
                            </li> 
                            <li class="prod-selector-item">
                                <a href="" title="药品">药品</a>
                            </li> 
                            <li class="prod-selector-item">
                                <a href="" title="麦片/意面">麦片/意面</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="牛初乳">牛初乳</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="糖果">糖果</a>
                            </li>                                
                        </ul>
                        <div class="prod-selector-ext">
                            <a class="ext-more" href="javascript:;">更多</a>
                        </div>
                    </dd>
                </dl>
                <dl class="ui-dl-horizontal">
                    <dt class="label">发货地：</dt>
                    <dd class="value">
                        <ul class="prod-selector-list auto">
                            <li class="prod-selector-item">
                                <a href="" title="荷兰直邮">荷兰直邮</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="上海保税区">上海保税区</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="成都普通仓">成都普通仓</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="韩国直邮">韩国直邮</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="香港直邮">香港直邮</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="南沙保税区">南沙保税区</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="虎门保税区">虎门保税区</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="保税区">保税区</a>
                            </li> 
                            <li class="prod-selector-item">
                                <a href="" title="澳洲直邮">澳洲直邮</a>
                            </li>                           
                        </ul>
                        <div class="prod-selector-ext">
                            <a class="ext-more" href="javascript:;">更多</a>
                        </div>
                    </dd>
                </dl>
                <dl class="ui-dl-horizontal">
                    <dt class="label">商品类型：</dt>
                    <dd class="value">
                        <ul class="prod-selector-list auto">
                            <li class="prod-selector-item">
                                <a href="" title="集货">集货</a>
                            </li>
                            <li class="prod-selector-item">
                                <a href="" title="备货">备货</a>
                            </li>                               
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="prod-wrap ui-container fn-clear">
                <div class="prod-side">
                    <div class="prod-history ui-box ui-box-container">
                        <div class="ui-box-head">
                            <h3 class="ui-box-head-title">浏览过的产品</h3>
                        </div>
                        <div class="ui-box-content">
                            <ul class="prod-history-list">
                                <li class="prod-history-item">
                                    <div class="m-goods m-goods-horizontal m-goods-mini">
                                            <div class="m-goods-thumb">
                                                <a class="m-goods-thumb-img" href="" target="_blank">
                                                    <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                                </a>
                                            </div>
                                            <div class="m-goods-info">
                                                <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                                <p class="m-goods-price">
                                                    <em class="m-goods-price-text">
                                                        <small class="fn-rmb">￥</small>98.00
                                                    </em>
                                                </p>
                                            </div>
                                        </div>
                                </li>
                            </ul>                            
                        </div>
                    </div>
                    <div class="prod-ads ui-mt20">
                        <a class="prod-ads-item" href=""><img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/source-left-znk.jpg" alt=""></a>
                        <a class="prod-ads-item" href=""><img class="lazy" src="../dist/images/blank.gif" data-lazy="http://www.papago.hk/op-images/source-left2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="prod-main">
                    <div class="prod-filter fn-clear">
                        <div class="prod-filter-sort fn-left">
                            <a class="time" href="">时间<i></i></a>
                            <a class="price" href="">价格<i></i></a>
                            <a class="sales" href="">销量<i></i></a>
                            <a class="stock" href="">库存<i></i></a>
                        </div>
                        <form action="" id="J_form_filter">
                            <div class="fn-right">
                                <span class="prod-filter-item">
                                    原产地：<select name="" class="ui-select" id="J_filter_origin">
                                        <option value="" selected="selected">请选择</option>
                                        <option value="230">美国</option>
                                        <option value="196">瑞典</option>
                                        <option value="183">葡萄牙</option>
                                        <option value="170">新西兰</option>
                                        <option value="165">荷兰</option>
                                        <option value="113">日本</option>
                                        <option value="74">法国</option>
                                        <option value="12">奥地利</option>
                                        <option value="178">波兰</option>
                                        <option value="135">利比亚</option>
                                        <option value="244">南非</option>
                                        <option value="58">丹麦</option>
                                        <option value="94">香港</option>
                                        <option value="109">意大利</option>
                                        <option value="76">英国</option>
                                        <option value="56">德国</option>
                                        <option value="134">拉脱维亚</option>
                                        <option value="13">澳大利亚</option>
                                        <option value="157">马来西亚</option>
                                        <option value="121">韩国</option>
                                        <option value="38">加拿大</option>
                                        <option value="20">比利时</option>
                                        <option value="225">台湾</option>
                                    </select>
                                </span>
                                <span class="prod-filter-item">
                                    <input type="checkbox" class="ui-checkbox" id="J_filter_post"><label for="J_filter_post">包邮</label>
                                </span>
                                <span class="prod-filter-item">
                                    价格范围：
                                    <span class="prod-filter-price" id="J_filter_price">
                                        <input type="text" class="ui-input" id="J_filter_price_start">&nbsp;-&nbsp;<input type="text" class="ui-input" id="J_filter_price_end">
                                        <span class="prod-filter-dropbox" id="J_filter_price_dropbox">
                                            <a class="ui-button-swhite ui-button" id="J_filter_clear">清空</a>
                                            <a class="ui-button-sred ui-button" id="J_filter_enter">确定</a>
                                        </span>                                    
                                    </span>
                                </span>
                                <!--
                                <span class="prod-filter-item">
                                    <button class="ui-button-mwhite ui-button" id="J_filter_submitbtn">筛选</button>
                                </span> -->
                            </div>    
                        </form>
                    </div>
                    <div class="prod-display">
                        <div class="prod-display-suggest">
                            没找到相关信息，建议您查找<a href="#">牛栏奶粉</a><a href="#">牛栏奶粉</a>
                        </div>
                        <ul class="prod-display-list">
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/placeholder.png" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="server">海淘城旗舰店</p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="server">海淘城旗舰店</p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="server">海淘城旗舰店</p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="server">海淘城旗舰店</p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="prod-display-item">
                                <div class="m-goods m-goods-large">
                                    <div class="m-goods-thumb">
                                        <a class="m-goods-thumb-img" href="" target="_blank">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://img.papago.hk/imagesupload/24159/middle/P-101096-001.jpg" alt="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g">
                                        </a>
                                    </div>
                                    <div class="m-goods-info">
                                        <p class="server">海淘城旗舰店</p>
                                        <h4 class="m-goods-name"><a title="美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g" href="" target="_blank">美国Naturade Total Soy 全大豆瘦身代餐奶昔巧克力味540g</a></h4>
                                        <p class="m-goods-price">
                                            <em class="m-goods-price-text">
                                                <small class="fn-rmb">￥</small>98.00
                                            </em>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="ui-paging prod-paging">
                            <a href="#" class="ui-paging-prev disabled"><i class="iconfont" title="上一页">&#xe62c;</i>上一页</a>
                            <a href="#" class="ui-paging-item">1</a>
                            <a href="#" class="ui-paging-item ui-paging-current">2</a>
                            <a href="#" class="ui-paging-item">3</a>
                            <a href="#" class="ui-paging-item">4</a>
                            <a href="#" class="ui-paging-item">5</a>
                            <a href="#" class="ui-paging-item">6</a>
                            <a href="#" class="ui-paging-item">7</a>
                            <span class="ui-paging-ellipsis">...</span>
                            <a href="#" class="ui-paging-item">24</a>
                            <a href="#" class="ui-paging-next">
                                下一页 <i class="iconfont" title="右尖头">&#xe632;</i>
                            </a>
                            <span class="ui-paging-info"><span class="ui-paging-bold">5/7</span>页</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-footer">
        	<div class="m-footer-inner ui-container">
        		<p class="conc unline">
        			<span class="tel ui-right"><i class="iconfont">&#xe628;</i>400-888-4547</span>
        			<a class="mailto" href="mailto:seller@papago.hk"><i class="iconfont">&#xe606;</i>E-mail：seller@papago.hk</a>
        		</p>
        		<div class="desc unline fn-clear">
        			<div class="col">
	        			<dl class="desc-dl">
	        				<dt>新手上路</dt>
	        				<dd><a href="">新会员注册</a></dd>
	        				<dd><a href="">选品刊登</a></dd>
	        				<dd><a href="">下单支付</a></dd>
	        			</dl>        				
        			</div>
        			<div class="col">
	        			<dl class="desc-dl">
	        				<dt>费用介绍</dt>
	        				<dd><a href="">产品资料包</a></dd>
	        				<dd><a href="">订单操作费</a></dd>
	        				<dd><a href="">预定费及仓储费</a></dd>
	        			</dl>        				
        			</div>
					<div class="col">
						<dl class="desc-dl">
	        				<dt>物流配送</dt>
	        				<dd><a href="">关税说明</a></dd>
	        				<dd><a href="">验货签收</a></dd>
	        			</dl>						
					</div>
					<div class="col">
	        			<dl class="desc-dl">
	        				<dt>售后保障</dt>
	        				<dd><a href="">退换货服务</a></dd>
	        				<dd><a href="">售后赔付政策</a></dd>
	        			</dl>						
					</div>
        		</div>
        		<div class="menu unline">
        			<ul class="menu-list">
        				<li><a href="">关于我们</a></li>
        				<li><a href="">帮助中心</a></li>
        				<li><a href="">联系我们</a></li>
        				<li><a href="">用户协议</a></li>
        				<li><a href="">友情链接</a></li>
        			</ul>
        		</div>
        		<p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
        	</div>
        </div>
    </div>
    <script src="../dist/js/lib.js"></script>
    <script src="../dist/js/productlist.js"></script>
</body>
</html>
