<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>商品详情-啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/source.css">
</head>
<body>
    <div class="ui-page-wrap">
        <div id="J_global_header" class="m-header ui-fixed">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/logo_m.png" alt="啪啪购"></a>
                    </h1>
                </div>
                <div class="m-header-right">
                    <div class="m-header-info">
                        <ul class="m-header-info-list">
                            <li class="m-header-info-item">
                                您好，[
                                <a class="link" href="">罗豪鑫</a>]
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">个人中心</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">退出</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">我要销售商品</a>
                            </li>
                        </ul>
                    </div>
                    <div class="m-header-nav">
                        <ul class="m-header-nav-list">
                            <li class="m-header-nav-item"><a title="首页" href="">首页</a></li>
                            <li class="m-header-nav-item"><a title="货源" href="">货源</a></li>
                            <li class="m-header-nav-item"><a title="关于我们" href="">关于我们</a></li>
                            <li class="m-header-nav-item"><a title="帮助中心" href="">帮助中心</a></li>
                        </ul>
                    </div>
                    <div class="m-header-search">
                        <form action="" id="J_form_search">
                            <div class="m-header-search-inner">
                                <label for="J_search_kw" class="iconfont">&#xe62b;</label>
                                <input type="text" name="k" value="" placeholder="请输入关键词" class="m-header-search-input" id="J_search_kw">
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="ui-page-body">
            <div class="detail-wrap ui-container">
                <div class="detail-cur ui-navmini-arr ui-navmini">
                    <ul class="ui-navmini-list">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">货源</a></li>
                        <li><a href="#">母婴用品</a></li>
                        <li><a href="#">奶粉辅食</a></li>
                        <li>奶粉</li>
                    </ul>
                </div>
                <div class="detail-metas fn-clear">
                    <div class="detail-preview">
                        <div class="detail-preview-viewer">
                            <div class="magnifier-thumb">
                                <img id="J_magnifier_thumb" src="http://img.papago.hk/imagesupload/24150/middle/P-123355-001.jpg" data-large-img-url="http://img.papago.hk/imagesupload/24150/big/P-123355-001.jpg" alt="">
                            </div>
                            <div id="J_magnifier_viewer" class="magnifier-viewer"></div>
                        </div>
                        <div class="detail-preview-slide detail-slider" id="J_preview_slide">
                            <ul class="detail-slider-list">
                                <li class="detail-slider-item active">
                                    <a href="javascript:;">
                                        <img src="http://img.papago.hk/imagesupload/24150/small/P-123355-001.jpg" data-middle="http://img.papago.hk/imagesupload/24150/middle/P-123355-001.jpg" data-large="http://img.papago.hk/imagesupload/24150/big/P-123355-001.jpg" alt="">
                                    </a>
                                </li>
                                <li class="detail-slider-item">
                                    <a href="javascript:;">
                                        <img src="http://img.papago.hk/imagesupload/24150/small/P-123355-002.jpg" data-middle="http://img.papago.hk/imagesupload/24150/middle/P-123355-002.jpg" data-large="http://img.papago.hk/imagesupload/24150/big/P-123355-002.jpg" alt="">
                                    </a>
                                </li>
                                <li class="detail-slider-item">
                                    <a href="javascript:;">
                                        <img src="http://img.papago.hk/imagesupload/24150/small/P-123355-003.jpg" data-middle="http://img.papago.hk/imagesupload/24150/middle/P-123355-003.jpg" data-large="http://img.papago.hk/imagesupload/24150/big/P-123355-003.jpg" alt="">
                                    </a>
                                </li>
                                <li class="detail-slider-item">
                                    <a href="javascript:;">
                                        <img src="http://img.papago.hk/imagesupload/24150/small/P-123355-004.jpg" data-middle="http://img.papago.hk/imagesupload/24150/middle/P-123355-004.jpg" data-large="http://img.papago.hk/imagesupload/24150/big/P-123355-004.jpg" alt="">
                                    </a>   
                                </li>
                                <li class="detail-slider-item">
                                    <a href="javascript:;">
                                        <img src="http://img.papago.hk/imagesupload/24150/small/P-123355-005.jpg" data-middle="http://img.papago.hk/imagesupload/24150/middle/P-123355-005.jpg" data-large="http://img.papago.hk/imagesupload/24150/big/P-123355-005.jpg" alt="">
                                    </a>
                                </li>
                                <li class="detail-slider-item">
                                    <a href="javascript:;">
                                        <img src="http://img.papago.hk/imagesupload/24150/small/P-123355-006.jpg" data-middle="http://img.papago.hk/imagesupload/24150/middle/P-123355-006.jpg" data-large="http://img.papago.hk/imagesupload/24150/big/P-123355-006.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                            <a class="pager-prev pager" href="javascript:;"><i class="iconfont">&#xe62c;</i></a>
                            <a class="pager-next pager" href="javascript:;"><i class="iconfont">&#xe632;</i></a>
                        </div>
                        <!--
                        <p class="follow">
                            <span class="fn-right">已有<em id="J_follow_numb">61</em>人关注</span>
                            <a id="follow-trigger" href="javascript:;" class="follow-trigger">关注该商品</a>
                        </p> -->
                    </div>
                    <div class="detail-property">
                        <div class="detail-property-hd">
                            <h2 class="title">(保税区）荷兰Nutrilon牛栏奶粉4段(12-24个月宝宝) 800g（2罐装）</h2>
                        </div>
                        <div class="detail-property-props" id="J_property_wrap">
                            <!--
                            <dl class="ui-dl-horizonta">
                                <dt>产品编码</dt>
                                <dd>
                                    <span class="pcode">952964-P-123355-01</span>
                                    <span class="ui-text-pale">已销售<em class="ui-text-highlight">9117</em>件</span>
                                </dd>
                            </dl> -->
                            <div class="detail-property-panel">
                                <dl class="ui-dl-horizonta ui-pt10">
                                    <dt>供货价格</dt>
                                    <dd>
                                        <span class="props-price">
                                            <small class="fn-rmb">￥</small>
                                            <strong class="lh-b">284.00</strong>
                                        </span>
                                        <!--<span class="icon-byou iconfont">&#xe618;</span>-->
                                        <span class="sellout">已销售<em class="highlight">2016</em>件</span>
                                    </dd>
                                </dl>
                                <dl class="ui-dl-horizonta">
                                    <dt>捆绑商品</dt>
                                    <dd>
                                        <span class="comb-thumb">
                                            <a class="thumb" title="" href="#"><img src="http://img.papago.hk/imagesupload/24150/middle/P-123344-019.jpg" alt="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）"></a>
                                            <em class="num">x&nbsp;1</em>
                                        </span>
                                        <span class="comb-thumb">
                                            <a class="thumb" title="" href="#"><img src="http://img.papago.hk/imagesupload/24150/middle/P-123344-019.jpg" alt="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）"></a>
                                            <em class="num">x&nbsp;1</em>
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                            
                            <dl class="ui-dl-horizonta">
                                <dt>税费</dt>
                                <dd>
                                    <span class="item-text ui-fs14">
                                        <small class="fn-rmb">￥</small>20.00
                                    </span>
                                    <span class="taxrule item-text tip-trigger">税费规则<i class="icon-help iconfont">&#xe605;</i>
                                        <span class="content fn-hide">
                                        税费=购买单价 * 件数 * 税率<br>
                                        据国家政策规定，本品适用于跨境综合税<br>
                                        注：不同商品的适用税率不同，<a href="#" target="_blank">了解税率</a>
                                        </span>
                                    </span>
                                </dd>
                            </dl>
                            <dl class="ui-dl-horizonta">
                                <dt>商品类型</dt>
                                <dd>
                                    <span class="item-text ui-fs14">保税备货</span>
                                </dd>
                            </dl>

                            <!--
                            <dl class="ui-dl-horizonta">
                                <dt>规格</dt>
                                <dd>
                                    <ul class="prop-list" id="J_prop_spec">
                                        <li class="prop-item active" data-id="192">2罐</li>
                                    </ul>                                    
                                </dd>
                            </dl>-->
                            <dl class="ui-dl-horizonta">
                                <dt>重量</dt>
                                <dd>
                                    <ul class="prop-list" id="J_prop_weight">
                                        <li class="prop-item active" data-id="301">800g</li>
                                        <li class="prop-item" data-id="302">800g</li>
                                        <li class="prop-item" data-id="303">800g</li>
                                        <li class="prop-item" data-id="304">800g</li>
                                        <li class="prop-item" data-id="305">800g</li>
                                        <li class="prop-item" data-id="306">800g</li>
                                        <li class="prop-item" data-id="307">800g</li>
                                        <li class="prop-item" data-id="308">800g</li>
                                        <li class="prop-item" data-id="309">800g</li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="ui-dl-horizonta">
                                <dt>数量</dt>
                                <dd>
                                    <div class="detail-counter m-counter" data-max="1277" id="J_detail_counter">
                                        <span class="m-counter-minus"><i class="iconfont">&#xe607;</i></span>
                                        <span class="m-counter-count"><input type="text" value="1"></span>
                                        <span class="m-counter-plus"><i class="iconfont">&#xe60d;</i></span>
                                    </div>
                                    <span class="stock-text">库存<em class="ui-text-highlight" id="J_stock_numb">1277</em>件</span>
                                </dd>
                            </dl>
                            <!--
                            <dl class="ui-dl-horizonta">
                                <dt>运费选择</dt>
                                <dd>
                                    <select name="" class="ui-select" id="J_channel">
                                        <option value="">包邮渠道</option>
                                        <option value="">全部</option>
                                    </select>
                                </dd>
                            </dl>
                            <p class="ui-hr-dashed ui-text-right">
                                <span>关税需自理<a class="help-link" href=""><i class="icon-help iconfont">&#xe605;</i></a></span>
                            </p>-->
                        </div>
                        <!--
                        <div class="detail-property-panel">
                            <dl class="ui-dl-horizonta">
                                <dt>仓库</dt>
                                <dd>
                                    <ul class="prop-list">
                                        <li class="prop-item active" data-id="190">广州机场保税区</li>
                                    </ul> 
                                </dd>
                            </dl>
                        </div> -->
                        <div class="detail-property-origin">
                            <ul class="fn-clear">
                                <li>原产地：<span class="value">荷兰</span></li>
                                <li>发货地：<span class="value">广州保税区</span></li>
                                <li class="fn-right">
                                    <span class="tariff tip-trigger">关税需自理<i class="icon-help iconfont">&#xe605;</i>
                                        <span class="content fn-hide">
                                        征收标准：商品金额在完税价格的0.5~2倍之间时，<br>海关一般按完税价格乘以税率收取，高于或者低于<br>这个区间则按商品金额乘以税率收取<a href="#" target="_blank">了解关税</a>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="detail-property-foot">
                            <!--<button class="ui-button-lred ui-button" id="J_button_sell">
                                <i class="icon-rp iconfont">&#xe604;</i>我要销售</button> -->
                            <button class="ui-button-lorange ui-button" id="J_button_purchase">
                                <i class="icon-by iconfont">&#xe61a;</i>我要采购</button>
                            <!-- 我要下单
                            <button class="ui-button-lorange ui-button" id="J_button_buy">
                                <i class="icon-by iconfont">&#xe61a;</i>我要下单</button> -->
                            <button class="ui-button-lwhite ui-button" id="J_button_down">
                                <i class="icon-dw iconfont">&#xe600;</i>下载数据包</button>
                            <a id="follow-trigger" href="javascript:;" class="follow-trigger">关注该商品</a>
                        </div>
                    </div>
                </div>
                <div class="detail-recom ui-box">
                    <div class="ui-box-head">
                        <h3 class="ui-box-head-title">相关商品推荐</h3>
                    </div>
                    <div class="ui-box-content detail-slider" id="J_recom_slide">
                        <ul class="detail-recom-list detail-slider-list">
                            <li class="detail-slider-item">
                                <div class="detail-recom-item">
                                    <a class="thumb" href=""><img src="http://img.papago.hk/imagesupload/24150/middle/P-123344-019.jpg" alt="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）"></a>
                                    <h3 class="title"><a href="" title="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）">（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）</a></h3>
                                </div>
                            </li>
                            <li class="detail-slider-item">
                                <div class="detail-recom-item">
                                    <a class="thumb" href=""><img src="http://img.papago.hk/imagesupload/24150/middle/P-123344-019.jpg" alt="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）"></a>
                                    <h3 class="title"><a href="" title="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）">（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）</a></h3>
                                </div>
                            </li>
                            <li class="detail-slider-item">
                                <div class="detail-recom-item">
                                    <a class="thumb" href=""><img src="http://img.papago.hk/imagesupload/24150/middle/P-123344-019.jpg" alt="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）"></a>
                                    <h3 class="title"><a href="" title="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）">（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）</a></h3>
                                </div>
                            </li>
                            <li class="detail-slider-item">
                                <div class="detail-recom-item">
                                    <a class="thumb" href=""><img src="http://img.papago.hk/imagesupload/24150/middle/P-123344-019.jpg" alt="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）"></a>
                                    <h3 class="title"><a href="" title="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）">（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）</a></h3>
                                </div>
                            </li>
                            <li class="detail-slider-item">
                                <div class="detail-recom-item">
                                    <a class="thumb" href=""><img src="http://img.papago.hk/imagesupload/24150/middle/P-123344-019.jpg" alt="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）"></a>
                                    <h3 class="title"><a href="" title="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）">（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）</a></h3>
                                </div>
                            </li>
                            <li class="detail-slider-item">
                                <div class="detail-recom-item">
                                    <a class="thumb" href=""><img src="http://img.papago.hk/imagesupload/24150/middle/P-123344-019.jpg" alt="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）"></a>
                                    <h3 class="title"><a href="" title="（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）">（保税区）荷兰Nutrilon牛栏奶粉3段(10-12个月宝宝) 800g（2罐装）</a></h3>
                                </div>
                            </li>
                        </ul>
                        <a class="pager-prev pager" href="javascript:;"><i class="iconfont">&#xe62c;</i></a>
                        <a class="pager-next pager" href="javascript:;"><i class="iconfont">&#xe632;</i></a>
                    </div>
                </div>
                <div class="detail-body">
                    <div class="detail-intro ui-tabs" id="J_intro_tab">
                        <div class="detail-intro-hd" id="J_sticky_detail">
                            <ul class="ui-tabs-triggers fn-clear" id="J_intro_tab_nav">
                                <li class="ui-tabs-trigger"><a href="javascript:;">商品详情</a></li>
                                <li class="ui-tabs-trigger"><a href="javascript:;">服务优势说明</a></li>
                            </ul>
                        </div>
                        <div class="detail-intro-bd ui-tabs-content" id="J_intro_tab_panel">
                            <div class="description ui-tabs-panel fn-hide">
                                <div class="description-hd">
                                    <div class="description-remarks">
                                        <p>以下描述仅供参考，建议客户提前购买样品，并根据实物优化描述。产品上架时间：2015-05-19 11:21 信息最后修改时间：2015-05-19 10:20</p>
                                        <p>备注---当面拒收，拍照片，全额赔款；非当面拒收，不赔款。</p>
                                    </div>
                                </div>
                                <div class="description-bd">
                                    <h3>商品描述</h3>
                                    <div class="description-content" id="J_description_content">
                                        <p>
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://erp.papago.hk/ckupload/SP/24790/images/20150914-164031-863.jpg" alt="">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://erp.papago.hk/ckupload/SP/24790/images/20150914-164040-325.jpg" alt="">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://erp.papago.hk/ckupload/SP/24790/images/20150914-164047-994.jpg" alt="">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://erp.papago.hk/ckupload/SP/24790/images/20150914-164055-463.jpg" alt="">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://erp.papago.hk/ckupload/SP/24790/images/20150914-164104-127.jpg" alt="">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://erp.papago.hk/ckupload/SP/24790/images/20150914-164111-604.jpg" alt="">
                                            <img class="lazy" src="../dist/images/blank.gif" data-lazy="http://erp.papago.hk/ckupload/SP/24790/images/20150914-164153-897.jpg" alt="">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="good ui-tabs-panel fn-hide">
                                <div class="good-hd">
                                    <h3>服务优势说明</h3>
                                </div>
                                <div class="good-content">
                                    <p>啪啪购：一个聚集众多海外知名品牌的全球供应链服务平台，结合自身物流优势，多年海淘B2C经验，一站式为合作客户提供海外正品货源采购、仓储库存管理、产品刊登、订单处理、配货包装到全球配送等完整的供应链服务。</p>
                                    <p>商品丰富：100+海外购物平台，1600+国际知名品牌，100万+全球优质产品</p>
                                    <p>零风险：无需备货，先销售再下单，零成本、零库存、零风险</p>
                                    <p>正品保障：绝对海外原装正品、海外仓库直发国内，100%正品保障</p>
                                    <p>订单管理：专业销售刊登工具，批量订单处理，轻松实现多渠道管理</p>
                                    <p>物流配送：完善的物流配送体系，海外仓拣货，质检、包装、配送一条龙服务</p>
                                    <p>售后服务：5*8小时服务，订单全程服务，咨询、赔付、物流、退货全程跟踪</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
        <div class="m-footer">
        	<div class="m-footer-inner ui-container">
        		<p class="conc unline">
        			<span class="tel ui-right"><i class="iconfont">&#xe628;</i>400-888-4547</span>
        			<a class="mailto" href="mailto:seller@papago.hk"><i class="iconfont">&#xe606;</i>E-mail：seller@papago.hk</a>
        		</p>
        		<div class="desc unline fn-clear">
        			<div class="col">
	        			<dl class="desc-dl">
	        				<dt>新手上路</dt>
	        				<dd><a href="">新会员注册</a></dd>
	        				<dd><a href="">选品刊登</a></dd>
	        				<dd><a href="">下单支付</a></dd>
	        			</dl>        				
        			</div>
        			<div class="col">
	        			<dl class="desc-dl">
	        				<dt>费用介绍</dt>
	        				<dd><a href="">产品资料包</a></dd>
	        				<dd><a href="">订单操作费</a></dd>
	        				<dd><a href="">预定费及仓储费</a></dd>
	        			</dl>        				
        			</div>
					<div class="col">
						<dl class="desc-dl">
	        				<dt>物流配送</dt>
	        				<dd><a href="">关税说明</a></dd>
	        				<dd><a href="">验货签收</a></dd>
	        			</dl>						
					</div>
					<div class="col">
	        			<dl class="desc-dl">
	        				<dt>售后保障</dt>
	        				<dd><a href="">退换货服务</a></dd>
	        				<dd><a href="">售后赔付政策</a></dd>
	        			</dl>						
					</div>
        		</div>
        		<div class="menu unline">
        			<ul class="menu-list">
        				<li><a href="">关于我们</a></li>
        				<li><a href="">帮助中心</a></li>
        				<li><a href="">联系我们</a></li>
        				<li><a href="">用户协议</a></li>
        				<li><a href="">友情链接</a></li>
        			</ul>
        		</div>
        		<p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
        	</div>
        </div>
    </div>
    <script>
        var itemId=17;
        var key = "英国,牛栏,2段";
        var brand = "8";
        var category = "60";
        var imageDomain = "http://7xr1o4.com2.z0.glb.qiniucdn.com";
        var itemPropertyValuesJson ={"115;119":"16"};
</script>
    <script src="../dist/js/lib.js"></script>
    <script src="../dist/js/detail.js"></script>
</body>
</html>
