<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>供应商用户协议-啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/passport.css">
</head>

<body>
    <div class="ui-page-wrap">
        <div id="J_global_header" class="s-m-header m-header">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/s_logo.png" alt="啪啪购"></a>
                    </h1>
                </div>
            </div>
        </div>
        <div class="ui-page-body">
            <div class="agree-wrap">
                <div class="ui-container">
                    <style>
                    .agree-main{width:800px;margin:0 auto;padding-bottom:100px;}.agree-main .h2{padding:50px 0 10px 0;margin-bottom:30px;font-size:22px;text-align:center;border-bottom:3px solid #ddd;}.section{padding-bottom:30px;}.section p{padding-bottom:10px;}.section h3{padding-bottom:5px;font-size:14px;font-weight:bold;}
                    </style>
                    <div class="agree-main">
                        <h2 class="h2">papago供应商用户协议</h2>
                        <div class="agree-content">
                            <div class="section">
                                <h3>一、 用户协议 </h3>
                                <p>本协议双方为papago和使用papago网上交易平台的用户。协议阐述之条款和条件适用于papago用户使用papago网站的各种工具和服务，具有合同效力。当您确认本服务协议后，即表示您已经与papago订立了本服务协议，且您将受本协议的条款和条件的约束。</p>
                                <p>无论您事实上是否在注册前认真阅读了本服务协议，只要您按照papago注册程序成功注册为papago用户并使用papago网站的各种工具和服务，您的行为仍然表示您及您代表注册的公司同意并签署了本服务协议。</p>
                                <p>本协议不涉及您或您所代表注册的公司与papago的其他用户之间因网上交易而产生的法律关系及法律纠纷。papago的注册人代表本人或其注册公司应该认真阅读本协议的全部内容，如有任何疑问，可向papago商务服务中心咨询。</p>
                                
                            </div>
                            <div class="section">
                                <h3>二、 本服务协议的内容 </h3>
                                <p>本服务协议内容包括本协议正文及所有papago已经公开发布的或将来可能公开发布的各类规则。所有公开规则为协议不可分割的一部分，与协议正文具有同等法律效力。papago有权根据需要制定、修改本协议或各类规则。如本协议有任何变更，papago将在网站上刊载公告，通知papago用户。如papago用户不同意相关变更，必须停止使用“服务”。经修订的协议一经在papago公布后，立即自动生效。各类规则会在发布生效后，亦成为本协议的一部分。登录或继续使用“服务”将表示papago用户接受经修订的协议。除另行明确声明外，任何使“服务”之范围扩大或网站功能增强的新内容均受本协议约束。</p>
                            </div> 
                            <div class="section">
                                <h3>三、 papago用户的资格、权利、责任和义务</h3>
                                <p>1.   papago的服务仅向适用法律下能够签订具有法律约束力的合同的个人提供并仅由其使用。在不受前述规定限制的前提下，papago不向未成年人（不满18岁）、被中止和（或）终止用户资格的用户或其信用度不能被papago接受的人提供服务。papago视所有使用本网站的用户已就其上述资质的真实性和准确性做出了保证。</p>
                                <p>2.   每个用户只能开立一个注册账户。papago用户有义务在注册时提供自己的真实资料，并保证注册姓名、电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证papago及其他papago用户可以通过上述联系方式与自己进行联系。同时，papago用户也有义务在相关资料实际变更时及时更新有关注册资料。papago用户保证不以他人资料在papago进行注册或认证，也不向他人转让或出售papago的账户（包括信用评价）和用户名。</p>
                                <p>3.   papago用户有权拥有自己的papago之用户名及密码，并有权使用自己的用户名及密码随时登陆papago网上交易平台。papago用户不得以任何形式擅自泄漏、转让或授权他人使用自己的papago用户名和密码；否则，一切后果由用户自行承担。</p>
                                <p>4.   papago用户有权参加网上物品交易、与其他papago注册用户订立产品买卖合同、评价papago用户的信用、参加papago的有关活动以及有权享受papago提供的其他的相关信息服务。 </p>
                                <p>5.   papago网站仅作为网上交易地点。用户因使用papago进行交易、获取有偿服务或接触papago服务器而发生的所有应纳税赋和办公费用等均由用户自行负责支付。</p>
                                <p> 6.  用户在papago网上交易过程中如与其他papago用户因交易产生纠纷，可以请求papago从中予以协调。如papago用户因网上交易与其他papago用户产生诉讼的，papago用户有权通过司法部门要求papago提供相关资料。 </p>
                                <p>7.   papago用户应当保证在使用papago网上交易平台过程中，必须遵守诚实信用的原则，不在交易过程中采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。不得在papago网上交易平台上恶意评价其他用户或产品，或采取不正当手段提高自身的信用度或降低其他注册用户的信用度。</p>
                                <p>8.   papago用户承诺自己在使用papago时实施的所有行为遵守国家法律、法规和papago的相关规定以及各种社会公共利益或公共道德。对于任何法律后果的发生，papago用户将以自己的名义独立承担所有相应的法律责任。 </p>
                                <p> 9.  papago用户同意在没有papago知情和同意的情况下，不把papago网站中的信息和资料作商业性利用，包括但不限于在未经papago事先书面批准的情况下，以复制、传播等方式使用在papago网站上展示的任何资料。</p>
                                <p>10.  papago用户同意接收来自papago的信息。 </p>
                            </div>   
                            <div class="section">
                                <h3>四、 papago网站的权利、责任和义务 </h3>
                                <p>1.   papago为本网站的用户提供产品展示和产品网上交易平台，但papago不能完全担保注册用户及相关信息的真实性、准确性、合法性和有效性，以及交易双方履行其在贸易协议项下的各项义务的能力等，但papago有责任采取措施对所有用户进行监督评估，同时将评估结果公之于众。</p>
                                <p>2.   papago有义务在现有技术上维护整个网上交易平台的正常运行，并努力提升和改进技术，使papago用户网上交易活动的顺利。但对于数据维护更新等原因造成的短时间的网络中断，papago不承担任何责任。 </p>
                                <p>3.  对papago用户在注册使用papago网上交易平台中所遇到的与交易或注册有关的问题及反映的情况，papago应及时做出回复。</p>
                                <p>4. 对于在papago网上平台上的不当行为或其它任何papago认为应当终止服务的情况，papago有权随时做出删除相关信息、终止服务等处理方法，而无须征得papago用户的同意。</p>
                                <p>5.   货物检验和收货标准：<br>
                                1) 入库收货的数量以用户将货物交至指定的仓库，双方当面交接结果为准。如用户委托第三方交货，将以入库实收数量为准，否则用户应与第三方商定确认好，交接入库时应清点核数后才能离开。papago指定仓库于货物入库当时对货物进行验收，发现货物与用户发货通知不符时，应当及时通知用户；<br>
                                2）货物的内容、标准、方法、时间、资料，papago需提前两个工作日以书面形式通知用户，用户应在三个工作日内及时补货。<br>
                                3）papago只负责核对货物的数量、重量和外观相关订单中包含的货物品种、数量、配送地点、运输方式、收货人信息，以甲方在乙方客户端操作系统上的指示为准；<p>
                                <p>6.  在货物保管期间，仓储货物在一定时间内会发生损耗，每月库存损耗率千分之一以内，乙方不承担赔偿责任。库存损耗超过千分之一以上的，由于乙方自身的原因，造成货物灭失、短少、变质、污染、损坏的，乙方应承担赔偿责任；
                                </p>
                                <p>7.   乙方发现仓储物有变质或其他损坏的，应当于5工作日内通知甲方。甲方接到通知后在工作3日内作出处置。如情况紧急，危及仓储场所或其他仓储物安全的，乙方可以采取措施予以处理，不承担赔偿责任； </p>
                                <p> 8.  因网上交易平台的特殊性，papago没有义务对所有papago用户的注册资料、所有的交易行为以及与交易有关的其他事项进行事先审查，但如存在下列情况的papago有权根据不同情况选择保留或删除相关信息或继续、停止对该papago用户提供服务，并追究相关法律责任：<br>
                                - papago用户或其他第三方通知papago，认为某个具体papago用户或具体交易事项可能存在重大违法或违规行为；<br>
                                - papago用户或其他第三方向papago告知交易平台上有违法或不当行为的，papago以普通非专业交易者的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为具有违法或不当的。
                                </p>
                                <p> 9.  papago用户在papago网上交易过程中如被其他papago用户投诉，请求papago予以调解处理，经papago审核后，papago有权通过电子邮件向投诉双方了解情况，并将所了解的情况通过电子邮件通知对方。</p>
                                <p>10.  papago用户因在papago网上交易产生诉讼的，papago用户通过司法部门或行政部门依照法定程序要求papago提供相关资料，papago应积极配合并提供有关资料。</p>
                                <p>11.  papago有权对papago用户的注册资料及交易行为进行查阅、评估，发现注册资料或交易行为中存在任何问题或怀疑，均有权向papago用户发出询问及要求改正的通知或者直接做出删除等处理。</p>
                                <p>12.  经国家生效法律文书或行政处罚决定确认papago用户存在违法行为，或者papago有足够事实依据可以认定papago用户存在违法或违反服务协议行为的，papago有权在papago网站上以网络发布形式公布papago用户的违法行为。</p>
                                <p>13.  对于papago用户在papago交易平台发布的以下列明的各类信息，papago有权在不通知papago用户的前提下进行删除或采取其他限制性措施：包括但不限于 - 以规避费用为目的；以炒作信用为目的的；<br>
                                - papago有理由相信存在欺诈等恶意或虚假内容；<br>
                                - papago有理由相信与网上交易无关或不是以交易为目的；<br>
                                - papago有理由相信存在恶意竞价或其他试图扰乱正常交易秩序因素；<br>
                                - papago有理由相信该信息违反公共利益或可能严重损害papago和其他papago用户的合法利益的。
                                </p>
                                <p>14.  按照《隐私保护政策》中的条款要求，保护papago用户的隐私权。</p>
                                <p>15.  许可使用权。papago用户授予papago独家的、全球通用的、永久的、免费的许可使用权利(并有权对该权利进行再授权)，使papago有权(全部或部份地)使用、复制、修订、改写、发布、翻译、分发、执行和展示papago用户公示于网站的各类信息或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。</p>
                                <p>16.  免责条款<br>
                                papago用户明确理解和同意，papago不对因下述任一情况而发生的任何损害承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿：<br>
                                - 使用或未能使用papago的服务<br>
                                - 第三方未经批准的接入或第三方更改用户传输的资料或数据；<br>
                                - 第三方对网站服务的声明或关于网站服务的行为；或因任何原因而引起的与网站有关的任何其他事宜，包括疏忽。
                                </p>
                            </div>   
                            <div class="section">
                                <h3>五、 papago网站服务的中断和终止 </h3>
                                <p>1.   papago用户同意：在papago未收取服务费的情况下，papago可自行全权决定以任何理由(包括但不限于papago认为用户已违反本协议的字面意义和精神，或以不符合本协议的字面意义和精神的方式行事，或用户在超过180天的时间内未以相应的用户帐号及密码登录网站等)终止papago用户的“服务”密码、帐户(或其任何部份)或对“服务”的使用，并删除（不再保存）papago用户在使用“服务”中提交的“papago用户资料”。同时papago可自行全权决定，在发出通知或不发出通知的情况下，随时停止提供“服务”或其任何部份。帐号终止后，papago没有义务为原用户保留原帐号中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给原用户或第三方。此外，papago不就终止“服务”而对原用户或任何第三者承担任何责任。 </p>
                                <p>2.   如papago用户向papago提出注销papago注册用户身份时，经papago审核同意，由papago注销该注册papago用户，papago用户即解除与papago的服务协议关系。但注销该papago用户帐号后，papago仍保留下列权利：<br>
                                 - papago用户注销后，papago有权保留该papago用户的注册资料及以前的商业行为记录。<br>
                                 - papago用户注销后，如papago用户在注销前在papago交易平台上存在违法行为或违反合同的行为，papago仍可行使本服务协议所规定的权利。
                                </p>
                                <p>3.   在下列情况下，papago可以通过注销papago用户的方式终止服务：<br>
                                - 在papago用户违反本服务协议相关规定时，papago有权终止向该papago用户提供服务。papago将在中断服务时通知papago用户。但如该papago用户在被papago终止提供服务后，再一次直接或间接或以他人名义注册为papagopapago用户的，papago有权再次单方面终止向该papago用户提供服务；<br>
                                - 如papago通过papago用户提供的信息与papago用户联系时，发现papago用户在注册时填写的电子邮箱已不存在或无法接收电子邮件的，经papago以其他联系方式通知papago用户更改，而papago用户在三个工作日内仍未能提供新的电子邮箱地址的，papago有权终止向该papago用户提供服务；<br>
                                - 一旦papago发现papago用户注册资料中主要内容是虚假的，papago有权随时终止向该papago用户提供服务；<br>
                                - 本服务协议终止或更新时，papago用户未确认新的服务协议的；<br>
                                - 其它papago认为需终止服务的情况。
                                </p>
                                <p>4.   服务中断、终止之前papago用户交易行为的处理。因papago用户违反法律法规或者违反服务协议规定而致使papago中断、终止对papago用户服务的，对于服务中断、终止之前papago用户交易行为依下列原则处理：<br>
                                - 服务中断、终止之前，papago用户已经上传至papago网站的物品尚未交易或尚未交易完成的，papago有权在中断、终止服务的同时删除此项物品的相关信息。<br>
                                - 服务中断、终止之前，papago用户已经就其他papago用户出售的具体物品做出要约，但交易尚未结束，papago有权在中断或终止服务的同时删除该papago用户的相关要约。<br>
                                - 服务中断、终止之前，papago用户已经与另一papago用户就具体交易达成一致，papago可以不删除该项交易，但papago有权在中断、终止服务的同时将papago用户被中断或终止服务的情况通知papago用户的交易对方。
                                </p>
                            </div>
                            <div class="section">
                                <h3>产品发布管理规则 </h3>
                                <p><strong>一、产品发布规则</strong><br>
                                 1. 为了提升用户在papago搜索和papago商品的交易体验，保证papago平台市场的安全、公平，综合各方面因素，papago制定了产品发布规则。供应商在发布产品之前，需要先了解papago的产品发布规则，以避免不必要的麻烦。<br>
                                 2. 对违反“papago产品发布规则”的行为，papago将根据违规的情节和程度，采取以下处罚手段：<br>
                                  •物品下架<br>
                                  •限制帐户权利<br>
                                  •冻结帐户<br>
                                  •取消参与任何papago平台促销活动的资格<br>
                                  3. 当您因为违反“papago产品发布规则”受到处罚时，我们会发邮件或致电通知。
                                </p>
                                <p><strong>二、产品发布错误类别</strong><br>
                                1.  分类错误<br>
                                产品应该放在正确的分类目录中，物品登录在不适合的分类中会影响到产品分类列表内容的正确性，降低其他用户的购买热情，也会影响到符合规定物品的浏览量，将影响整个papago平台的公平性。举例：项链本应放到珠宝类目，却被放到了服装类目。 <br>
                                2.  滥用关键词<br>
                                滥用关键字的行为是指为使登录物品引人注目或误导用户浏览自己的物品而在物品名称或物品描述中加入品牌名称或跟出售的物品本身不相关的字词。滥用关键字会扰乱搜索结果，让用户感到困扰，有失平台公平性原则，也会损失潜在的买家。举例：卖的是MP3，而在标题中大量用了MP4,IPOD,Apple等关键字。<br>
                                3.  滥用品牌名称<br>
                                除制造或生产登录物品的公司使用的特定品牌名称外，登录物品中还加入了其他品牌名称或公司标识。品牌名称的滥用可能构成商标侵权，并可能使供应商承担法律责任。举例：自制产品名称中加入另一公司品牌名称。<br>
                                4. 刊登内容与实际物品不相符<br>
                                5.物品及品牌比较指供应商在登录物品标题名称中对不同物品进行比较的行为。供应商不得在标题中将自己的物品与其他品牌进行比较。<br>
                                6.  标题、图片、描述不一致 所发布的产品标题、图片、描述等信息缺乏或者多种信息相互不一致的情况，影响所在目录正常商品排序展示并造成用户困惑。<br>
                                7. 图片、文字描述等盗用 拷贝或复制其他供应商的产品描述文字及图片或使用知名度颇高的用户名混淆用户判断，达到扩大自己的物品搜索及提高成交机率的行为。举例：在产品规格描述中加入部分知名品牌的表述，达到扩大搜索机率的目的。 <br>
                                8.  重复登录物品 在物品分类一级目录下同一类商品（同款不同颜色、尺码、配置的除外）最多登录数量不可超过2次，超过这个数量将被视为重复登录产品违规。<br>
                                9.  产品图片带水印 为方便卖家直接使用papago提供的产品信息，除非生产厂商，请不要在产品图片上加水印。 
                                </p>
                                <p><strong>三、禁止和限制发布的产品</strong><br>
                                papago供应商在发布产品以前，应充分了解禁止和限制发布产品之内容。由于发布以下物品所引起的法律责任由相关用户完全承担，与papago无关。一旦papago发现有任何违反本规则的物品信息，papago有权立即予以删除，并保留给予相关用户警告、冻结直至终止其帐户的权力，请供应商自觉遵守。<br>
                                （一）禁止发布的物品<br>
                                1.  所有侵犯知识产权的行为，知识产权是指对注册商标的侵权，对物品原件所有者的权利侵犯等，包括（书包，手表等）； <br>
                                2.  任何侵犯他人知识产权的物品，如假冒商品，侵犯他人版权或者专利权的产品，未授权（如盗版、翻录、备份、盗录等）的复制品：软件程序、电视游戏、音乐集、电影、电视节目或照片；<br>
                                3.  毒品； <br>
                                4.  药品，包括非处方药，会危害人体健康，是人服用后产生健康危机的药物都会限制，比如：迷幻药，麻醉品，激素等；<br>
                                5.  被政府明令禁止销售药物，或者由于药物的某些副作用导致人体不适的药物；<br>
                                6. 药物附属品，连带品，任何器具，材料，或者物品本身可以在被改造后用于治疗人体的医疗器具，属于医疗界定物品类别内的东西；<br>
                                7.  人体器官、遗体 ； <br>
                                8.  医疗器材（械）；<br>
                                9.  禁止销售赌博彩票，福利彩票，体育竞技彩票，赛马彩票，papago禁止一切形式的彩票销售及赌博，彩票工具；<br>
                                10. 任何形式的政府档，如身份证，档案，各类许可证、介绍信、学历证书、涉及国家秘密的数据或者文件等；<br>
                                11. 伪造、变造的物品，如伪造的证件、票据、钱币、执照和许可证等； <br>
                                12. 黄色淫秽物品、包括DVD，杂志，书刊，漫画等，及禁止非法的交友网站，提供非法陪伴服务等；<br>
                                13. 含有反动、淫秽、种族，暴力行为的，令人反感的或者宗教歧视或其它法律禁止内容的出版物、文件、数据等；<br>
                                14. 非法所得之物，如走私、盗窃或抢劫所得；<br>
                                15. 任何形式的枪支、弹药及相关器材，如枪械、枪械仿制品（如仿真枪）、子（炮）弹、消音器、火药、麻醉注射枪等以及相关产品如说明书，包装盒等；<br>
                                16. 易燃、易爆物品、有毒、有腐蚀性的化学物品，如火药、烟花、爆竹等；<br>
                                17. 管制刀具，如匕首、三棱刀（包括机械加工用的三棱刮刀）、带有自锁装置的弹簧刀（跳刀）以及其它类似的单刃、双刃、三棱尖刀；<br>
                                18. 警用和军用物品、设备，如监视、监听类设备、警服、警徽、手铐、警灯、警笛、警用器械等；<br>
                                19. 其它武器，如弓弩,钢珠,铅珠等；<br>
                                20. 其它可能危害他人安全或利益或用于违法目的的物品，如撬锁设备、强效催情用品、解密软件、导弹发射程式、个人私密资料，汽车反雷达测速仪，电子狗，电击器，手机监听器，汽车隐性喷雾等；<br>
                                21. 需执照或政府许可才能使用的设备，如广播发射台，碟型人造卫星天线；<br>
                                22. 赌具，如吃角子老虎机，透视麻将，透视扑克等；<br>
                                23. 香烟，雪茄等烟草制品，香烟形式出现的烟盒烟标等；<br>
                                24. 酒精饮料；<br>
                                25. 流通人民币，任何人不得出售或购买正在流通的人民币；<br>
                                26. E-mail地址列表；<br>
                                27. 无注册号的磁带或光盘，共享软件；Beta级或未公布的软件；未同设备捆绑出售的OEM软件；<br>
                                28. 国家法律法规存在强制性质量或者安全标准/规定但未能符合强制性质量或者安全标准/规定的产品；<br>
                                29. 国家法律规定适用许可证管理规定而不能提供相关许可证的产品；<br>
                                30. 根据法律、法规禁止销售或本网站认为依据公共风俗不应贩卖的物品,如二手、原味内衣裤、袜。<br>
                                （二）限制发布的物品<br>
                                 1. 文物： papago用户仅可按《中华人民共和国文物保护法》第50条、第51条的规定进行民间收藏文物的买卖； <br>
                                 2. 动物：papago上仅允许销售常见的家禽、家畜、宠物或可食用动物。根据国家有关规定， 野生动物、国家保护类动物、濒危动物活体、内脏、任何肢体、皮毛、标本或其它制成品均不能登录。其中象牙和玳瑁类制品，属于严格禁止登录的产品；<br>
                                 3. 植物：被列入国家保护类植物清单的、法律禁止不得销售的植物，或植物产品；<br>
                                 4. 外币：对于可流通的外币，papago用户仅可为收藏目的少量购买，但不得从事或者变相从事外币兑换或交易；<br>
                                 5. 集邮票品：papago用户可进行合法的邮票交换和买卖，但不得从事下列活动：买卖国家禁止流通的集邮票品；买卖1949年10月1日以后发行的带有"中华民国"字样的集邮票品；先于发行日期交换或买卖邮资凭证；买卖未经邮政行业管理部门批准制作的集邮品。 
                                </p>
                            </div>  
                            <div class="section">
                                <h3>纠纷处理规则 </h3>
                                <p><strong>一、总则</strong><br>
                                 1、 papago作为一个网络交易平台，处理投诉的原则是公平，公正，公开。 <br>
                                  2、    提交papago的投诉，papago需要交易双方提供货运单据以及其他相关证据，交易双方任何一方采取拒不配合态度者，papago将做出有利于交易另一方的仲裁。 
                                </p>
                                <p><strong>二、细则</strong><br>
                                （一）没有收到货物 <br>
                                1、  因物流原因导致的货物丢失，由相应的递四方速递承担相应责任；物流过程中出现货物丢失、损坏或短少等情况，对于没有投保相应的货运保险，且因为物流供应商原因产生的货物破损或丢失，按国际运输公约《华沙公约》中有关快件业务的条款理赔，但是对货物所承担的全部赔偿责任不超过货物的实际现金价值，且不超过空运条件下20美元/公斤或陆运条件下10美元/公斤，且最高不超过100美元/票。货物在中国境内运输发生破损或灭失，全部赔偿将不超过货物实际损失，且不超过20元人民币/公斤。递四方对于快件遗失后所引起的连带损失以及货物内在系统紊乱及数据丢失不负责任；门到港国际普货运输目的地清关说明：递四方作为门到港国际普货的承运方，负责货物从中国到目的港的国际运输及在中国的出口报关。收货人则需负责目的地海关清关及相关单证的准备。若因收件人不能及时提供进口清关所需的单证而造成的延误、扣货或被当地海关销毁或退回中国，则由收货人承担相应的法律责任和费用，若收货人不承担相应的责任或费用，则自动转为卖家承担。递四方速递不承担任何责任；<br>
                                2、货物发出后被退回；卖家提供地址不清或者有误。卖家负全部责任，并负担因此造成的供应商运费损失以及其他相关费用；<br>
                                3、供应商写错地址或者其他信息。供应商负全部责任，并支付全部相关费用；<br>
                                4、供应商没有按照订单中的货运要求供货，导致卖家无法按时交货买家。供应商付全部责任，并支付全部相关费用；<br>
                                （二）货物被扣在海关<br>
                                1.  销往目的地国家关税以及其他海关相关费用。卖家负全部责任，并支付全部相关费用；<br>
                                2.  销往目的地国家关税由于卖家将多个订单合并造成，由卖家负全部责任，并支付全部相关费用；<br>
                                3.  与品牌授权相关。供应商负全部责任，并支付全部相关费用。<br>
                                （三）收到货物与描述不符 <br>
                                1.  需要买卖双方提供证据者，当事人一方需要在投诉提交平台后5个工作日内主动提供物流单号等相关证据，papago会在收到有效证据后10个工作日内做出处理意见。<br>
                                2.  papago将会对于假货严厉制裁。
                                </p>
                                <p><strong>三、供应商货物说明 </strong><br>
                                1.供应商产品描述应对物品外观、成份、含量、质量、成新率、包装、保修、保质期、售后服务、产地、厂商名称等销售时必备的商品要素进行说明。<br>
                                 2.如供应商产品描述中未对上述事项部分或全部进行明确说明，则应以同类产品的国家标准、行业标准或厂商标准为准，或视为双方对此无争议。
                                </p>
                            </div>
                            <div class="section">
                                <h3>隐私保护政策</h3>
                                <p>请认真阅读下列内容，以使您了解我们如何使用您提交的注册资料。如果您使用了任何papago的服务，视同您同意以下条款。 </p>
                                <p><strong>一、papago尊重供应商的隐私权</strong><br>
                                papago非常重视您的隐私权。为了更好的保护您的隐私权，本条款用于解释我们是如何使用您的注册信息的。当您在papago注册账号时，我们会要求您提供相关信息。我们使用此信息来检验、核查并刊登您的产品，并通过这些信息与您沟通您的库存、产品、售后等问题。
                                </p>
                                <p><strong>二、papago如何使用您的注册信息 </strong><br>
                                您的注册信息与您提供的产品交易直接相关，并有助于我们为您提供个性化的服务。我们通过这些注册信息，让您了解papago的新功能或其他优惠信息。<br>
                                1、papago会把有关您在注册、订阅的信息、papago的特惠信息、促销通知和消费者调查等资料通过电子邮件发送给您。 邮件内容包括：<br>
                                 •特惠和更新：我们向所有新会员发送欢迎邮件，以验证用户名和密码。正式会员会不定期收到新产品和特价信息。<br>
                                 •服务公告<br>
                                 •在某些特殊的情况下我们会向papago会员发送某些特定公告。如：因更新系统的原因，我们的网站可能在一小段时间内登录不了等，我们将会向客户发送此类公告。<br>
                                 •客户服务：基于客户同意的基础上，我们将通过邮件或电话进行客户服务活动。 <br>
                                 2、Cookies。当您访问网站时，网站向您的计算机发送的包含一串字符的小文件就是cookies。当您再次访问该网站时，这个小文件会帮助该网站辨认出您的浏览器。Cookies可以储存用户偏好和其他信息。您可以重新设置您的浏览器以拒绝所有Cookies，或者让浏览器在接受Cookies前给出提示。但是，一些网站的特色功能或服务可能会因没有Cookies而无法正常运行。 <br>
                                  3、服务器日志。像大多数网站的服务器一样，我们的服务器自动记录用户访问我们网站时所产生的网页请求信息。这些“服务器日志”主要包括您的网络请求、IP地址、浏览器类型、浏览器使用的语言、您的请求的日期和时间，以及一个或多个可以对您的浏览器进行辨识的Cookie。 
                                </p>
                                <p><strong>三、供应商可查阅或更正信息 </strong><br>
                                1、供应商可以访问通过登录相应的帐号查阅注册信息。<br>
                                 2、供应商可以更正被认为所需要更正的信息。为了保护供应商的隐私和安全，papago将采取合理的步骤在确认更正人身份之后，才给予更正信息的存取或补正。 
                                </p>
                                <p><strong>四、papago的数据安全有保护功能 </strong><br>
                                papago的帐户具有密码保护功能，以确保用户的隐私和信息安全。
                                </p>
                                <p><strong>五、对第三方保密政策</strong><br>
                                papago不会将供应商的个人识别信息出租或出售给任何第三方。以下情况除外: <br>
                                •您同意让第三方共享资料；<br>
                                •只有透露了您的个人资料，才能提供您所要求的产品和服务；<br>
                                •我们需要听从法庭传票、法律命令或遵循法律程序；<br>
                                 •我们发现您违反了papago服务条款或任何其他产品及服务的使用规定。
                                </p>
                            </div> 
                            <div class="section">
                                <h3>知识产权和其他合法权益（包括但不限于名誉权、商誉权）</h3>
                                <p><strong>一、   用户专属权利 </strong><br>
                                递四方尊重他人知识产权和合法权益，呼吁用户也要同样尊重知识产权和他人合法权益。若用户认为自身或其他用户的知识产权或其他合法权益被侵犯，请按照以下说明向递四方提供资料 ：<br>
                                （在此特别提醒用户注意：如果权利通知的陈述失实，权利通知提交者将承担对由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。如果上述个人或单位不确定网络上可获取的资料是否侵犯了其知识产权和其他合法权益，递四方建议该个人或单位首先咨询专业人士。）<br>
                                为了递四方有效处理上述个人或单位的权利通知，请使用以下格式（包括各条款的序号）： <br>
                                1、  权利人对涉嫌侵权内容拥有知识产权或其他合法权益和 ；或依法可以行使知识产权或其他合法权益的权属证明； <br>
                                2、 请充分、明确地描述被侵犯了知识产权或其他合法权益的情况，并请提供涉嫌侵权的第三方网址（如果有）。<br>
                                3、  请指明涉嫌侵权网页的哪些内容侵犯了第 2 项中列明的权利。<br>
                                4、  请提供权利人具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件。<br>
                                5、 请提供涉嫌侵权内容在信息网络上的位置（如指明用户举报的含有侵权内容的出处，即：指网页地址或网页内的位置）以便我们与用户举报的含有侵权内容的网页的所有权人 / 管理人联系。 <br>
                                6、 请在权利通知中加入如下关于通知内容真实性的声明：“我保证，本通知中所述信息是充分、真实、准确的，如果本权利通知内容不完全属实，本人将承担由此产生的一切法律责任。”<br>
                                7、  请用户签署该文件，如果用户是依法成立的机构或组织，请用户加盖公章。<br>
                                8、  请用户把以上资料和联络方式书面发往递四方公司。
                                </p>
                                <p><strong>二、对于用户通过papago服务上传到papago上可公开获取区域的任何内容，用户同意递四方在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和 / 或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。 </strong></p>
                                <p><strong>三、递四方拥有papago站内所有资料的版权。 “papago”、“递四方”、“ jiemaiwang ”及相关图形等为递四方的注册商标。 未经递四方许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，递四方将依法追究法律责任。</strong></p>
                            </div>
                            <div class="section">
                                <h3>温馨提示</h3>
                                <p>请认真阅读以下注意事项：</p>
                                <p>1、供应只能销售所拥有并在papago仓储有实际库存的产品。<br> 
                                   2、供应商需要得到所售产品之生产厂商的分销授权。<br>
                                   3、任何供应商上传产品时不得使用侵犯他人知识产权的图片、商标、品牌和标识。<br>
                                   4、为便于用户直接使用papago上的产品信息，除非是生产厂商，请不要在上传的产品图片上加水印。 <br>
                                   5、应确保产品分类正确以免造成卖家困扰。如有疑问，可以参考类似产品是如何分类的。 <br>
                                   6、由于papago主要是针对网络卖家和卖家的，请确保papago的产品在价格上有竞争力。 <br>
                                   7、   详尽准确的产品名称能增加产品被搜索到的机率；充实的产品信息能提高产品吸引力；建议在产品描述里注明产品保修政策。<br>
                                   8、在未取得客户明示同意的情况下，供应商不得将发货信息（包括但不限于姓名、电话和发货地址）透露给第三方。<br>
                                   9、papago会审核所陈列之产品并严格执行供应商认证程序。
                                   </p>
                            </div>                                                                                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-m-footer">
            <div class="s-m-footer-inner ui-container">
                <p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
            </div>
        </div>
    </div>
    <script src="../dist/js/lib.js"></script>
</body>

</html>
