<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>登录-啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/passport.css">
</head>
<body>
    <div class="ui-page-wrap s-login">
        <div id="J_global_header" class="s-m-header m-header">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/s_logo.png" alt="啪啪购"></a>
                    </h1>
                </div>
            </div>
        </div>
        <div class="ui-page-body">
            <div class="login-wrap">
                <div class="ui-container">
                    <div class="login-main fn-clear">
                        <div class="login-left">
                            <img src="../photos/login_about_theme.jpg" alt="">
                        </div>
                        <div class="login-right">
                            <div class="login-right-inner">
                                <div class="login-form">
                                    <form id="J_login_form" class="ui-form ui-form-large" action="">
                                        <fieldset>会员登录</fieldset>
                                        <div id="J_failed" class="failed-tip">请输入帐号/密码</div>
                                        <div class="login-form-inner">
                                            <div class="ui-form-item">
                                                <div class="login-input-wrap">
                                                    <label for="uname" class="i-label iconfont">&#xe635;</label>
                                                    <input class="ui-input" id="uname" name="uname" placeholder="请输入帐号" type="text">    
                                                </div>
                                            </div>
                                            <div class="ui-form-item">
                                                <div class="login-input-wrap">
                                                    <label for="upassword" class="i-label iconfont">&#xe612;</label>
                                                    <input class="ui-input" id="upassword" name="upassword" placeholder="请输入密码" type="password">
                                                </div>
                                            </div> 
                                            <div class="ui-form-item">
                                                <p class="login-forget"><a href="forget_step1.html">忘记密码?</a></p>
                                                <button id="J_btn_submit" class="submit ui-button ui-button-lorange" type="submit">登录</button>
                                            </div>
                                            <div class="ui-form-item">
                                                <p class="join-text"><span>立即加入我们</span></p>
                                            </div>
                                            <div class="ui-form-item">
                                                <a class="register ui-button ui-button-lblue" href="">立即注册帐号</a>
                                            </div>                      
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="s-m-footer">
        	<div class="s-m-footer-inner ui-container">
        		<p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
        	</div>
        </div>
    </div>
</body>
</html>
