<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>商品刊登-啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/member.css">
</head>
<body>
    <div class="ui-page-wrap s-member">
        <div id="J_global_header" class="s-m-header m-header">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/s_logo.png" alt="啪啪购"></a>
                    </h1>
                </div>
                <div class="m-header-right">
                    <div class="m-header-info">
                        <ul class="m-header-info-list">
                            <li class="m-header-info-item">
                                您好，[<a href="">罗豪鑫</a>]
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">个人中心</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href=""><i class="icon-message iconfont">&#xe617;</i>消息</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">退出</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-page-body">
            <div class="member-wrap">
                <div class="ui-container">
                    <div class="member-body fn-clear">
                        <div class="member-left">
                            <div class="member-sidenav">
                                <div class="member-sidenav-head member-head">
                                    <h3 class="member-head-title"><a href="">用户中心</a></h3>
                                </div>
                                <div class="member-sidenav-body" id="J_member_sidenav">
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger" data-role="trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe602;</i>我的产品
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">商品刊登</a>
                                                </li>                                 
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">添加产品</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">批量上传产品</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">批量上传产品图片</a>
                                                </li>
                                                <li class="member-sidenav-item active">
                                                    <a class="link" href="">管理产品</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">产品问答</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">产品销售统计</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">产品分析</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                   <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger" data-role="trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe609;</i>入库管理
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">                                       
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">入库预报</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">单据打印</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">入库查询</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger" data-role="trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe623;</i>库存管理
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">                                       
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">售出产品查询</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">库存查询</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger" data-role="trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe622;</i>退仓管理
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">                                       
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">上传退仓单</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">退仓查询</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger" data-role="trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe61d;</i>我的账户
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">                                       
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">结算账户信息</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="s_member_account_management_base.html">个人信息管理</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">我的消息</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">账户管理</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>         
                                </div>
                            </div>
                        </div>
                        <div class="member-right">
                            <div class="member-main">
                                <div class="member-main-head member-head fn-clear">
                                    <h3 class="member-head-title">产品管理</h3>
                                </div>
                                <div class="member-publish member-main-inner ui-content-padding">
                                    <form action="" id="J_form_query">
                                        <div class="member-form-query">
                                            <div class="ui-form-item">
                                                <label class="ui-label" for="product_code">产品编号：</label>
                                                <input class="ui-input" type="text" id="product_code">
                                                <p class="ui-form-explain"></p>
                                            </div>
                                            <div class="ui-form-item">
                                                <label class="ui-label" for="product_name">产品名称：</label>
                                                <input class="ui-input" type="text" id="product_name">
                                                <p class="ui-form-explain"></p>
                                            </div>
                                            <div class="category ui-form-item">
                                                <label class="ui-label">产品分类：</label>
                                                <span class="ui-dropdown-head" id="J_category_text">请选择分类</span>
                                                <div class="category-panel" id="J_category_panel">
                                                    <ul class="category-list ztree" id="J_category_list"></ul>
                                                </div>
                                                <input type="hidden" id="category_value" name="CategoryId">
                                            </div>
                                            <!--
                                            <div class="ui-form-item">
                                                <label class="ui-label">产品分类：</label>
                                                <select name="" id="product_type" class="ui-select">
                                                    <option value="">全部</option>
                                                    <option value="12089">母婴用品</option>
                                                    <option value="12154">营养健康</option>
                                                    <option value="12195">彩妆护肤</option>
                                                    <option value="12248">包袋鞋靴</option>
                                                    <option value="12308">服装户外</option>
                                                    <option value="12374">手表饰品</option>
                                                    <option value="12415">数码家居</option>
                                                </select>
                                                <p class="ui-form-explain"></p>
                                            </div> -->
                                            <button id="J_submitbtn" class="submit ui-button-lgreen ui-button">查询</button>
                                        
                                        </div>
                                        <div class="member-tabs-publish member-tabs ui-tabs">
                                            <div class="member-tabs-hd fn-clear">
                                                <ul class="ui-tabs-triggers fn-left">
                                                    <li class="ui-tabs-trigger ui-tabs-active">
                                                        <a href="javascript:;" data-type="0">全部商品</a>
                                                    </li>
                                                    <li class="ui-tabs-trigger">
                                                        <a href="javascript:;" data-type="1">已确认</a>
                                                    </li>
                                                    <li class="ui-tabs-trigger">
                                                        <a href="javascript:;" data-type="2">待审核</a>
                                                    </li>
                                                    <li class="ui-tabs-trigger">
                                                        <a href="javascript:;" data-type="3">已审核</a>
                                                    </li>
                                                    <li class="ui-tabs-trigger">
                                                        <a href="javascript:;" data-type="4">审核不通过</a>
                                                    </li>
                                                    <li class="ui-tabs-trigger">
                                                        <a href="javascript:;" data-type="5">已上架</a>
                                                    </li>
                                                    <li class="ui-tabs-trigger">
                                                        <a href="javascript:;" data-type="6">已下架</a>
                                                    </li>
                                                    <li class="ui-tabs-trigger">
                                                        <a href="javascript:;" data-type="7">回收站</a>
                                                    </li>
                                                    <li class="ui-tabs-trigger">
                                                        <a href="javascript:;" data-type="8">推荐产品</a>
                                                    </li>
                                                    <li class="ui-tabs-trigger">
                                                        <a href="javascript:;" data-type="9">促销产品</a>
                                                    </li>
                                                </ul>
                                                <button id="J_del_batch" class="btn-batch-del ui-button-swhite ui-button fn-right">删除选中</button>
                                            </div>
                                            <div class="member-tabs-bd ui-tabs-content">
                                                <div class="member-table-publish member-table ui-table-inbox ui-tabs-panel">
                                                    <table class="ui-table">
                                                        <thead>
                                                            <tr>
                                                                <th width="8%">
                                                                    <input class="checkbox-all" type="checkbox" id="J_select_all">
                                                                    <label class="label" for="J_select_all">全选</label>
                                                                </th>
                                                                <th width="34%">商品名称</th>
                                                                <th width="10%">商品编号</th>
                                                                <th width="10%">重量(克)</th>
                                                                <th width="10%">价格(元)</th>
                                                                <th width="10%">状态</th>
                                                                <th>操作</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="member-table-item" data-pid="99">
                                                                <td>
                                                                    <input class="checkbox-sub" type="checkbox">
                                                                </td>
                                                                <td>
                                                                    <div class="ui-panel-mini ui-panel">
                                                                        <div class="ui-panel-thumb">
                                                                            <a href="" title="Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF">
                                                                                <img src="http://sandbox.seller.papago.hk/imagesupload/23947/small/00014-001.jpg" alt="Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF">
                                                                            </a>    
                                                                        </div>
                                                                        <div class="ui-panel-text">
                                                                            <div class="ui-panel-text-inner">
                                                                                <a href="" title="Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF">
                                                                                    Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF
                                                                                </a>    
                                                                            </div>
                                                                        </div>    
                                                                    </div>
                                                                </td>
                                                                <td>1001</td> 
                                                                <td>1000g</td>
                                                                <td>89.00</td>
                                                                <td>
                                                                    <span class="warning smicon" title="库存预警"></span>
                                                                    <span class="dollar-ref smicon" title="价格变动"></span>
                                                                    <br>
                                                                    <span class="status">未上架</span>
                                                                </td>
                                                                <td>
                                                                    <div class="member-table-opera">
                                                                        <a class="opera-edit opera" href="">编辑</a>
                                                                        <a class="opera-rel opera" href="javascrip:;" data-pid="99">上架</a>
                                                                        <a class="opera-off opera" href="javascrip:;" data-pid="99" style="display:none">下架</a><br>
                                                                        <a class="opera-stock opera" href="javascript:;" data-pid="1151">库存管理</a>
                                                                        <a class="opera-del opera" href="javascrip:;" data-pid="99">删除</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr class="member-table-item" data-pid="99">
                                                                <td>
                                                                    <input class="checkbox-sub" type="checkbox">
                                                                </td>
                                                                <td>
                                                                    <div class="ui-panel-mini ui-panel">
                                                                        <div class="ui-panel-thumb">
                                                                            <a href="" title="Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF">
                                                                                <img src="http://sandbox.seller.papago.hk/imagesupload/23947/small/00014-001.jpg" alt="Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF">
                                                                            </a>    
                                                                        </div>
                                                                        <div class="ui-panel-text">
                                                                            <div class="ui-panel-text-inner">
                                                                                <a href="" title="Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF">
                                                                                    Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF
                                                                                </a>    
                                                                            </div>
                                                                        </div>    
                                                                    </div>
                                                                </td>
                                                                <td>1001</td> 
                                                                <td>1000g</td>
                                                                <td>89.00</td>
                                                                <td>未上架</td>
                                                                <td>
                                                                    <div class="member-table-opera">
                                                                        <a class="opera-edit opera" href="">编辑</a>
                                                                        <a class="opera-group opera" href="javascrip:;" data-pid="99">关联</a>
                                                                        <a class="opera-rel opera" href="javascrip:;" data-pid="99">上架</a><br>
                                                                        <a class="opera-off opera" href="javascrip:;" data-pid="99" style="display:none">下架</a>
                                                                        <a class="opera-stock opera" href="javascript:;" data-pid="1151">库存管理</a>
                                                                        <a class="opera-del opera" href="javascrip:;" data-pid="99">删除</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr class="member-table-item" data-pid="99">
                                                                <td>
                                                                    <input class="checkbox-sub" type="checkbox">
                                                                </td>
                                                                <td>
                                                                    <div class="ui-panel-mini ui-panel">
                                                                        <div class="ui-panel-thumb">
                                                                            <a href="" title="Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF">
                                                                                <img src="http://sandbox.seller.papago.hk/imagesupload/23947/small/00014-001.jpg" alt="Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF">
                                                                            </a>
                                                                        </div>
                                                                        <div class="ui-panel-text">
                                                                            <div class="ui-panel-text-inner">
                                                                                <a href="" title="Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF">
                                                                                    Casio 男士手表 G-SHOCK MT-G TRIPLE G RESIST MTG-S1000D-1AJF
                                                                                </a>    
                                                                            </div>
                                                                        </div>    
                                                                    </div>
                                                                </td>
                                                                <td>1001</td>
                                                                <td>1000g</td>
                                                                <td>89.00</td>
                                                                <td>未上架</td>
                                                                <td>
                                                                    <div class="member-table-opera">
                                                                        <a class="opera-edit opera" href="">编辑</a>
                                                                        <a class="opera-rel opera" href="javascrip:;" data-pid="99">上架</a>
                                                                        <a class="opera-off opera" href="javascrip:;" data-pid="99">下架</a>
                                                                        <a class="opera-del opera" href="javascrip:;" data-pid="99">删除</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!--<tr><td colspan="7" class="member-table-none">无相关信息</td></tr>-->
                                                        </tbody>
                                                    </table>
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="ui-paging member-paging" data-current="1" data-total="24">
                                            <a href="#" class="ui-paging-prev">
                                                <i class="iconfont" title="左箭头">&#xe62c;</i> 上一页
                                            </a>
                                            <a href="#" class="ui-paging-item">1</a>
                                            <a href="#" class="ui-paging-item ui-paging-current">2</a>
                                            <a href="#" class="ui-paging-item">3</a>
                                            <a href="#" class="ui-paging-item">4</a>
                                            <a href="#" class="ui-paging-item">5</a>
                                            <a href="#" class="ui-paging-item">6</a>
                                            <a href="#" class="ui-paging-item">7</a>
                                            <span class="ui-paging-ellipsis">...</span>
                                            <a href="#" class="ui-paging-item">24</a>
                                            <a href="#" class="ui-paging-next">
                                                下一页 <i class="iconfont" title="右箭头">&#xe632;</i>
                                            </a>
                                            <span class="ui-paging-info"><span class="ui-paging-bold">5/7</span>页</span>
                                            <span class="ui-paging-which"><input name="some_name" value="6" type="text"></span>
                                            <a class="ui-paging-info ui-paging-goto" href="#">跳转</a>
                                        </div>
                                        <input type="hidden" name="" id="J_query_type">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-m-footer">
            <div class="s-m-footer-inner ui-container">
                <p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
            </div>
        </div>
    </div>
    <script src="../dist/js/lib.js"></script>
    <script src="../dist/js/member.js"></script>
    <script src="../dist/js/merchandise.js"></script>
    <script>window.merchandise && merchandise.control();</script>
</body>
</html>
