<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>基本信息修改-啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/member.css">
</head>
<body>
    <div class="ui-page-wrap s-member">
        <div id="J_global_header" class="s-m-header m-header">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/s_logo.png" alt="啪啪购"></a>
                    </h1>
                </div>
                <div class="m-header-right">
                    <div class="m-header-info">
                        <ul class="m-header-info-list">
                            <li class="m-header-info-item">
                                您好，[<a href="">罗豪鑫</a>]
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">个人中心</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href=""><i class="icon-message iconfont">&#xe617;</i>消息</a>
                            </li>
                            <li class="m-header-info-item">
                                <a class="link" href="">退出</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-page-body">
            <div class="member-wrap">
                <div class="ui-container">
                    <div class="member-body fn-clear">
                        <div class="member-left">
                            <div class="member-sidenav">
                                <div class="member-sidenav-head member-head">
                                    <h3 class="member-head-title"><a href="">用户中心</a></h3>
                                </div>
                                <div class="member-sidenav-body" id="J_member_sidenav">
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger" data-role="trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe602;</i>我的产品
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">                                       
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">添加产品</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">批量上传产品</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">批量上传产品图片</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">管理产品</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">产品问答</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">产品销售统计</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">产品分析</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                   <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger" data-role="trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe609;</i>入库管理
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">                                       
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">入库预报</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">单据打印</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">入库查询</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger" data-role="trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe623;</i>库存管理
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">                                       
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">售出产品查询</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">库存查询</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger" data-role="trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe622;</i>退仓管理
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">                                       
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">上传退仓单</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">退仓查询</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="member-sidenav-group">
                                        <div class="member-sidenav-group-hd ui-switchable-trigger" data-role="trigger">
                                            <h3 class="member-sidenav-title">
                                                <i class="iconfont">&#xe61d;</i>我的账户
                                            </h3>
                                        </div>
                                        <div class="member-sidenav-group-bd ui-switchable-panel" data-role="panel">
                                            <ul class="member-sidenav-list">                                       
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">结算账户信息</a>
                                                </li>
                                                <li class="member-sidenav-item active">
                                                    <a class="link" href="s_member_account_management_base.html">个人信息管理</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">我的消息</a>
                                                </li>
                                                <li class="member-sidenav-item">
                                                    <a class="link" href="">账户管理</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>         
                                </div>
                            </div>
                        </div>
                        <div class="member-right">
                            <div class="member-main">
                                <div class="member-main-head member-head fn-clear">
                                    <h3 class="member-head-title">基本信息修改</h3>
                                </div>
                                <div class="member-main-inner">
                                    <div class="account-nav">
                                        <ul class="fn-clear">
                                            <li class="active">
                                                <a href="s_member_account_management_base.html">基本信息修改</a>
                                                <i class="icon-arrow iconfont">&#xe630;</i>
                                            </li>
                                            <li class="">
                                                <a href="s_member_account_management_contact.html">联系人信息修改</a>
                                                <i class="icon-arrow iconfont">&#xe630;</i>
                                            </li>
                                            <li class="">
                                                <a href="s_member_account_management_mobile.html">手机号码修改</a>
                                                <i class="icon-arrow iconfont">&#xe630;</i>
                                            </li>
                                            <li class="">
                                                <a href="s_member_account_management_password.html">密码修改</a>
                                                <i class="icon-arrow iconfont">&#xe630;</i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="account-form">
                                        <form id="J_form_account" class="ui-form" action="">
                                            <div class="account-form-row">
                                                <h3 class="title">帐户信息</h3>
                                                <div class="ui-form-item">
                                                    <label class="ui-label" >公司代码：</label>
                                                    <span class="form-text-strong">952841</span>
                                                </div>
                                            </div>
                                            <div class="account-form-row">
                                                <h3 class="title">账号持有人姓名和联系方式</h3>
                                                <div class="ui-form-item">
                                                    <label for="username" class="ui-label" >真实姓名：</label>
                                                    <input type="text" class="ui-input" id="username" value="罗豪鑫">
                                                    <span class="ui-form-required">*</span>
                                                    <span class="ui-form-explain"></span>
                                                </div>
                                                <div class="ui-form-item">
                                                    <label for="username" class="ui-label" >性别：</label>
                                                    <span>
                                                        <input type="radio" name="sex" class="ui-radio" id="sex_g" value="1" checked="checked">
                                                        <label class="label" for="sex_g">女</label>  
                                                        <input type="radio" name="sex" class="ui-radio" id="sex_b" value="2">
                                                        <label class="label" for="sex_b">男</label>  
                                                    </span>
                                                </div>
                                                <div class="ui-form-item">
                                                    <label for="user_email" class="ui-label" >邮箱：</label>
                                                    <input type="text" class="ui-input" id="user_email" readonly="readonly" value="123@qq.com">
                                                    <span class="ui-form-required"></span>
                                                    <span class="ui-form-explain"></span>
                                                </div>
                                                <div class="ui-form-item">
                                                    <label for="user_tel" class="ui-label" >固定电话：</label>
                                                    <input type="text" class="ui-input" id="user_tel">
                                                    <span class="ui-form-required"></span>
                                                    <span class="ui-form-explain"></span>
                                                </div>
                                                <div class="ui-form-item">
                                                    <label for="user_tel" class="ui-label" >手机号码：</label>
                                                    <span class="form-text-strong">15889500330</span>
                                                </div>
                                            </div>
                                            <div class="account-form-row">
                                                <h3 class="title">公司名称和主营业务</h3>
                                                <div class="ui-form-item">
                                                    <label class="ui-label">公司类型：</label>
                                                    <span class="span">
                                                        <input type="radio" name="ct" value="" class="ui-radio" id="tp1">
                                                        <label for="tp1" class="label" checked="checked">制造商</label>
                                                        <input type="radio" name="ct" value="" class="ui-radio" id="tp2">
                                                        <label for="tp2" class="label">代理商</label>
                                                        <input type="radio" name="ct" value="" class="ui-radio" id="tp3">
                                                        <label for="tp3" class="label">经销商</label>
                                                        <input type="radio" name="ct" value="" class="ui-radio" id="tp4">
                                                        <label for="tp4" class="label">批发商</label>
                                                        <input type="radio" name="ct" value="" class="ui-radio" id="tp5">
                                                        <label for="tp5" class="label">个体工商户</label>
                                                        <input type="radio" name="ct" value="" class="ui-radio" id="tp6">
                                                        <label for="tp6" class="label">贸易公司</label><br>
                                                        <input type="radio" name="ct" value="" class="ui-radio" id="tp7">
                                                        <label for="tp7" class="label">持有自主品牌制造商</label>
                                                        <input type="radio" name="ct" value="" class="ui-radio" id="tp8">
                                                        <label for="tp8" class="label">其他</label>
                                                    </span>
                                                    <span class="ui-form-required"></span>
                                                    <span class="ui-form-explain"></span>
                                                </div>
                                                <div class="ui-form-item">
                                                    <label class="ui-label" >公司名称：</label>
                                                    <span class="form-text-strong">4PX</span>
                                                </div>
                                                <div class="ui-form-item">
                                                    <label for="company_address" class="ui-label" >公司所在地：</label>
                                                    <input type="text" class="ui-input" id="company_address" value="广东深圳">
                                                    <span class="ui-form-required"></span>
                                                    <span class="ui-form-explain"></span>
                                                </div>
                                                <div class="ui-form-item">
                                                    <label for="operate_address" class="ui-label" >经营地址：</label>
                                                    <input type="text" class="ui-input" id="operate_address" value="财富港大厦">
                                                    <span class="ui-form-required">*</span>
                                                    <span class="ui-form-explain"></span>
                                                </div>
                                                <div class="ui-form-item">
                                                    <label for="idcode" class="ui-label" >厂商识别代码：</label>
                                                    <input type="text" class="ui-input" id="idcode">
                                                </div>
                                                <div class="ui-form-item">
                                                    <label class="ui-label" >主营类别：</label>
                                                    <select name="" id="operate_class" class="">
                                                        <option value="12089">母婴用品</option>
                                                        <option value="12154">营养健康</option>
                                                        <option value="12195">彩妆护肤</option>
                                                        <option value="12248">包袋鞋靴</option>
                                                        <option value="12308">服装户外</option>
                                                        <option value="12374">手表饰品</option>
                                                        <option value="12415">数码家居</option>
                                                        <option value="12704">非申报品类</option>
                                                    </select>
                                                    <span class="ui-form-required"></span>
                                                    <span class="ui-form-explain"></span>
                                                </div>
                                                <div class="ui-form-item">
                                                    <label for="operate_product" class="ui-label" >主营品牌或产品：</label>
                                                    <textarea name="" id="operate_product" class="ui-textarea">母婴</textarea>
                                                    <span class="ui-form-required">*</span>
                                                    <span class="ui-form-explain"></span>
                                                </div>
                                            </div>
                                            <div class="account-form-row">
                                                <h3 class="title">资料认证</h3>
                                                <div class="ui-form-item">
                                                    <label class="ui-label" >公司营业执照：</label>
                                                    <div class="photo-thumb">
                                                        <div class="ui-upload-thumb">
                                                            <img class="photo" src="../dist/images/blank.gif" alt="">
                                                            <input id="license" type="hidden" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui-form-item">
                                                    <label class="ui-label" >公司logo：</label>
                                                    <div class="account-upload">
                                                        <div class="ui-upload-thumb">
                                                            <div class="picker" id="J_picker_logo">
                                                                <div class="picker-inner">
                                                                    <div class="picker-inner-bd">
                                                                        <span class="pick"><i class="iconfont">&#xe601;</i>上传</span>
                                                                        <span class="pick">点击选择图片</span>
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" value="">
                                                            </div>
                                                            <img class="photo" src="../dist/images/blank.gif" alt="">
                                                        </div>
                                                    </div>
                                                    <!-- 如果已上传，显示这里的内容
                                                    <div class="photo-thumb thumb-small">
                                                        <div class="ui-upload-thumb">
                                                            <img class="photo" src="../dist/images/blank.gif" alt="">
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <div class="ui-form-item">
                                                    <label for="" class="ui-label" >品牌授权：</label>
                                                    <div class="account-upload">
                                                        <div class="ui-upload-thumb">
                                                            <div class="picker" id="J_picker_licensed">
                                                                <div class="picker-inner">
                                                                    <div class="picker-inner-bd">
                                                                        <span class="pick"><i class="iconfont">&#xe601;</i>上传</span>
                                                                        <span class="pick">点击选择图片</span>
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" value="">
                                                            </div>
                                                            <img class="photo" src="../dist/images/blank.gif" alt="">
                                                        </div>
                                                    </div>
                                                    <!-- 如果已上传，显示这里的内容
                                                    <div class="photo-thumb">
                                                        <div class="ui-upload-thumb">
                                                            <img class="photo" src="../dist/images/blank.gif" alt="">
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <div class="ui-form-item">
                                                    <label for="" class="ui-label" >品牌认证资料：</label>
                                                    <div class="account-upload ui-inlineblock">
                                                        <div class="ui-upload-thumb">
                                                            <div class="picker" id="J_picker_authen">
                                                                <div class="picker-inner">
                                                                    <div class="picker-inner-bd">
                                                                        <span class="pick"><i class="iconfont">&#xe601;</i>上传</span>
                                                                        <span class="pick">点击选择图片</span>
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" value="">
                                                            </div>
                                                            <img class="photo" src="../dist/images/blank.gif" alt="">
                                                        </div>
                                                    </div>
                                                    <!-- 如果已上传，显示这里的内容
                                                    <div class="photo-thumb thumb-small">
                                                        <div class="ui-upload-thumb">
                                                            <img class="photo" src="../dist/images/blank.gif" alt="">
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <div class="ui-form-item">
                                                    <button id="J_submitbtn" class="submit ui-button ui-button-lorange">保存</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="s-m-footer">
            <div class="s-m-footer-inner ui-container">
                <p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
            </div>
        </div>
    </div>
    <script src="../dist/js/lib.js"></script>
    <script src="../dist/js/member.js"></script>
    <script src="../dist/js/s_account.js"></script>
    <script>window.account && account.baseInfo();</script>
</body>
</html>
