<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>注册-啪啪购</title>
    <link href="http://www.papago.hk" rel="dns-prefetch" />
    <link rel="shortcut icon" href="http://www.papago.hk/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../dist/css/common.css">
    <link rel="stylesheet" href="../dist/css/passport.css">
</head>
<body>
    <div class="ui-page-wrap s-register">
        <div id="J_global_header" class="s-m-header m-header">
            <div class="m-header-inner ui-container">
                <div class="m-header-logo-wrap">
                    <h1 class="m-header-logo" id="J_mlogo">
                        <a href="/"><img src="../dist/images/s_logo.png" alt="啪啪购"></a>
                    </h1>
                </div>
            </div>
        </div>
        <div class="ui-page-body">
            <div class="passport-wrap register-step3">
                <div class="ui-container">
                    <div class="passport-main">
                        <div class="passport-step">
                            <ol class="ui-step ui-step-3">
                                <li class="ui-step-start ui-step-done">
                                    <div class="ui-step-line">-</div>
                                    <div class="ui-step-icon">
                                        <i class="iconfont">&#xe60b;</i>
                                        <i class="ui-step-number">1</i>
                                        <span class="ui-step-text">填写会员信息</span>
                                    </div>
                                </li>
                                <li class="ui-step-done">
                                    <div class="ui-step-line">-</div>
                                    <div class="ui-step-icon">
                                        <i class="iconfont">&#xe60b;</i>
                                        <i class="ui-step-number">2</i>
                                        <span class="ui-step-text">绑定手机</span>
                                    </div>
                                </li>
                                <li class="ui-step-active ui-step-end">
                                    <div class="ui-step-line">-</div>
                                    <div class="ui-step-icon">
                                        <i class="iconfont">&#xe60b;</i>
                                        <i class="iconfont ui-step-number">&#xe616;</i>
                                        <span class="ui-step-text">注册成功</span>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div class="register-result">
                            <p class="text">
                                <i class="done iconfont">&#xe616;</i>
                            </p>
                            <p class="text text-strong">
                                alice,您的注册信息已成功提交,请等待啪啪购的审核!
                            </p>
                            <p class="text">
                                您还可以登录到您的邮箱<br>
                                查收并点击其中的链接进行邮箱验证激活。<br>
                                如有问题请联系啪啪购客服，企业QQ：4008884547 。
                            </p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="s-m-footer">
            <div class="s-m-footer-inner ui-container">
                <p class="copyright">&copy;啪啪购 2014, 版权所有 粤ICP备14073754号-3</p>
            </div>
        </div>
    </div>
    <script src="../dist/js/lib.js"></script>
</body>
</html>
